.count-panel {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

/*
TABLETS
*/
@media (min-width: 576px) {

}

/*
DESKTOP
*/
@media (min-width: 768px) {

}

/*
PANTALLAS +
*/
@media (min-width: 992px) {

}

/*
PANTALLAS +++
*/
@media (min-width: 1200px) {

}