<%- include ('../partials/head') %>
<%- include ('../partials/header') %>
<main class="main-main">
    <header class="main-title first-title">
        <h3 class="big-title">CARRITO DE COMPRAS</h3>
        <h5 class="small-title">CARRITO DE COMPRAS</h5>
    </header>
    <form action="/">
        <section class="cart-section">
            <% for (i = 0 ; i < products.length ; i++) { %>
                <%- include ('./partials/capsule', { 'product': products } ) %>
            <% } %>
        </section>
        <footer class="cart-footer">
            <div class="clean-cart-box">
                <a class="clean-cart" href="#">Eliminar todos los items</a>
            </div>
            <div class="cart-buy">
                <button class="cart-button" type="submit">
                    <h1 class="big-title">COMPRAR</h1>
                    <h2 class="small-title">COMPRAR</h2>
                </button>
            </div>
        </footer>
    </form>
</main>
<%- include ('../partials/footer') %>