<%- include ('../partials/head') %>
<%- include ('../partials/header') %>
<main class="main-main">
    <header class="main-title first-title">
        <h3 class="big-title">CARRITO DE COMPRAS</h3>
        <h5 class="small-title">CARRITO DE COMPRAS</h5>
    </header>
    <form action="/">
        <section class="cart-section">
            <% for (i = 0 ; i < games.length ; i++) { %>
                <%- include ('./partials/capsule', { game: games } ) %>
            <% } %>
        </section>
        <footer class="cart-footer">
            <!-- SUMA DE $$$ -->







            <!-- BOTÓN DE PAGAR (COMO EN /show) -->





            <!-- BOTÓN DE ELIMINAR TODOS LOS ITEM (COMO EN /forms) -->




            <!-- BOTÓN DE SEGUIR COMPRANDO (VA A /products) -->
        </footer>
    </form>
</main>
<%- include ('../partials/footer') %>