<%- include('../partials/head') %>
<%- include('../partials/header') %>

<main class="main-main">
    <form class="formulario" method="POST" action="/products">
        <div class="partes-formulario">
            <label class="nombres-formulario" for="name">Nombre del juego</label>
            <input class="espacio-formulario" type="text" name="" id="name" placeholder="Ej.: Hades">
        </div>
        <div class="partes-formulario">
            <label class="nombres-formulario" for="description">Breve descripción</label>
            <input class="espacio-formulario" type="text" name="" id="description" placeholder="Ej.: Desafía al dios de los muertos y protagoniza...">
        </div>
        <div class="partes-formulario">
            <label class="nombres-formulario" for="image">Imágen principal</label>
            <input class="espacio-formulario" type="file" accept=".jpg" name="" id="image">
        </div>
        <div class="partes-formulario">
            <label class="nombres-formulario" for="price">Precio</label>
            <input class="espacio-formulario" type="number" name="" id="price" placeholder="Ej.: 123.99">
        </div>
        <div class="partes-formulario">
            <label class="nombres-formulario" for="about-game">Sobre el juego</label>
            <input class="espacio-formulario" type="text" name="" id="about-game" placeholder="Ej.: Hades es un juego roguelike de exploración de mazmorras...">
        </div>
        <div class="partes-formulario">
            <label class="nombres-formulario" for="image-two">Imágen secundaria</label>
            <input class="espacio-formulario" type="file" accept=".jpg" name="" id="image-two">
        </div>
        <div class="partes-formulario">
            <label class="nombres-formulario" for="category">Categorías</label>

            <label class="etiquetas" for="category">
                <input class="etiquetas" type="checkbox" name="category" value="accion">Acción
            </label>
            <label class="etiquetas" for="category">
                <input class="etiquetas" type="checkbox" name="category" value="aventura">Aventura
            </label>
            <label class="etiquetas" for="category">
                <input class="etiquetas" type="checkbox" name="category" value="rol">Rol
            </label>
            <label class="etiquetas" for="category">
                <input class="etiquetas" type="checkbox" name="category" value="estrategia">Estrategia
            </label>
            <label class="etiquetas" for="category">
                <input class="etiquetas" type="checkbox" name="category" value="simulacion">Simulación
            </label>
            <label class="etiquetas" for="category">
                <input class="etiquetas" type="checkbox" name="category" value="deporte">Deporte
            </label>
        </div>
        <div class="partes-formulario">
            <label class="nombres-formulario" for="colors">Colores</label>
            <input class="espacio-formulario" type="color" name="" id="colors">
        </div>
        <div class="botones">
            <button type="submit"><a href="#">Crear</a></button>
            <button type="reset"><a href="#">Borrar</a></button>
        </div>
    </form>
</main>

<%- include('../partials/footer')%>