<%- include('../partials/head') %>
<%- include('../partials/header') %>

<main class="main-main">

    <header class="main-title first-title">
        <h3 class="bit-title">AÑADIR ARTÍCULO</h3>
        <h5 class="small-title">AÑADIR ARTÍCULO</h5>
    </header>

    <form class="product-create-form" action="/products" method="POST">

        <section class="product-create-section">
            <!-- name -->
            <div class="input-box">
                <label class="label-label" for="name">Nombre</label>
                <input class="input-text input-text-product" type="text" name="name" id="name" placeholder="Pac-Man" required>
            </div>
            
            <!-- category -->
            <div class="input-box category-box">
                <% for (i = 1 ; i < 5 ; i++) { %>
                    <div class="single-category">
                        <label class="label-label" for="category">Categoría <%= [i] %></label>
                        <input class="input-text input-text-product" type="text" name="category" id="category" required>
                    </div>
                <% } %>
            </div>
            
            <!-- img : file -->
            
            <!-- card : file -->
            
            <!-- capsule : file -->
            
            <!-- relevant : bool -->
            <div class="input-box">
                <label class="label-label">¿Clasificar producto como "RELEVANT"?</label>
                <label class="label-label label-radio" for="true">
                    RELEVANT product<input class="input-radio" type="radio" name="relevant" value="true" id="true" required>
                </label>
                <label class="label-label label-radio" for="false">
                    NOT relevant product<input class="input-radio" type="radio" name="relevant" value="false" id="false" required>
                </label>
            </div>

            <!-- price : file-->
            
            <!-- discount : bool -->
            
            <!-- discount rate : number -->
                        
            <!-- description -->
            <div class="input-box">
                <label class="label-label" for="description">Descripción breve</label>
                <textarea class="text-area-product" name="description" id="description" rows="5" maxlength="170" required></textarea>
            </div>

            <!-- longDescription -->
            <div class="input-box">
                <label class="label-label" for="longDescription">Descripción extensa</label>
                <textarea class="text-area-product" name="longDescription" id="longDescription" rows="15" maxlength="800" required></textarea>
            </div>

            <div class="button-box">
                <button class="button-send" type="submit">
                    <h1>CREAR</h1>
                </button>
                <button class="button-cancel" type="button">
                    <a href="/"><h3 class="big-title">CANCELAR</h3></a>
                </button>
            </div>

        </section>

    </form>

























    <!-- <form class="formulario" method="POST" action="/products">
        <div class="partes-formulario">
            <label class="nombres-formulario" for="name">Nombre del juego</label>
            <input class="espacio-formulario" type="text" name="" id="name" placeholder="Ej.: Hades">
        </div>
        <div class="partes-formulario">
            <label class="nombres-formulario" for="description">Breve descripción</label>
            <input class="espacio-formulario" type="text" name="" id="description" placeholder="Ej.: Desafía al dios de los muertos y protagoniza...">
        </div>
        <div class="partes-formulario">
            <label class="nombres-formulario" for="image">Imágen principal</label>
            <input class="espacio-formulario" type="file" accept=".jpg" name="" id="image">
        </div>
        <div class="partes-formulario">
            <label class="nombres-formulario" for="price">Precio</label>
            <input class="espacio-formulario" type="number" name="" id="price" placeholder="Ej.: 123.99">
        </div>
        <div class="partes-formulario">
            <label class="nombres-formulario" for="about-game">Sobre el juego</label>
            <input class="espacio-formulario" type="text" name="" id="about-game" placeholder="Ej.: Hades es un juego roguelike de exploración de mazmorras...">
        </div>
        <div class="partes-formulario">
            <label class="nombres-formulario" for="image-two">Imágen secundaria</label>
            <input class="espacio-formulario" type="file" accept=".jpg" name="" id="image-two">
        </div>
        <div class="partes-formulario">
            <label class="nombres-formulario" for="category">Categorías</label>

            <label class="etiquetas" for="category">
                <input class="etiquetas" type="checkbox" name="category" value="accion">Acción
            </label>
            <label class="etiquetas" for="category">
                <input class="etiquetas" type="checkbox" name="category" value="aventura">Aventura
            </label>
            <label class="etiquetas" for="category">
                <input class="etiquetas" type="checkbox" name="category" value="rol">Rol
            </label>
            <label class="etiquetas" for="category">
                <input class="etiquetas" type="checkbox" name="category" value="estrategia">Estrategia
            </label>
            <label class="etiquetas" for="category">
                <input class="etiquetas" type="checkbox" name="category" value="simulacion">Simulación
            </label>
            <label class="etiquetas" for="category">
                <input class="etiquetas" type="checkbox" name="category" value="deporte">Deporte
            </label>
        </div>
        <div class="partes-formulario">
            <label class="nombres-formulario" for="colors">Colores</label>
            <input class="espacio-formulario" type="color" name="" id="colors">
        </div>
        <div class="botones">
            <button type="submit"><a href="#">Crear</a></button>
            <button type="reset"><a href="#">Borrar</a></button>
        </div>
    </form> -->

</main>

<%- include('../partials/footer')%>