<%- include('../partials/head')%>

<%- include('../partials/header')%>

<main>
        <form action="">
            <div>
                <label for="">Nombre del juego</label>
                <input type="text" name="" id="">
            </div>
            <div>
                <label for="">Nombre del juego</label>
                <input type="text" name="" id="">
            </div>
            <div>
                <label for="">Nombre del juego</label>
                <input type="text" name="" id="">
            </div>
            <div>
                <label for="">Nombre del juego</label>
                <input type="text" name="" id="">
            </div>
        </form>
</main>

<%- include('../partials/footer')%>