<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css"></linkrel>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
    <title>Sekiro</title>
</head>

<header class="header-header">

    <!-- Logo y hamburguesa -->
    <div class="logo">
        <a href="/">
            <img src="/img/icono.png" alt="icono">
        </a>
    </div>
    <div class="hamburger">
        <i class="fa fa-bars burger"></i>
    </div>

    <!-- Navbar de navegación -->
    <nav class="main-navbar">
        <ul>
            <li class="nav-link"><a href="/">Home</a></li>
            <!-- A implementar -->
            <li class="nav-link"><a href="#">Tienda</a></li>
            <li class="nav-link"><a href="#">Soporte</a></li>
        </ul>
    </nav>
            
    <!-- Navbar de acciones para el usuario -->
    <nav class="user-navbar">
        <ul>
            <!-- Iconito para ir al carrito de compras -->
            <li class="nav-link carrito"><a href="/carrito"><i class="fas fa-shopping-cart"></i></a></li>
            <li class="nav-link"><a href="/login">Iniciar sesión</a></li>
            <li class="nav-link"><a href="/registro">Registrarse</a></li>
        </ul>
    </nav>
</header>
<body>

    <!-- Main del producto -->
    <main class="detalle-producto">
        <H1 class="hades">Sekiro</H1>
        <!-- Imagen, texto y boton comprar -->
        <div class="presentacion">
            <div><img class="imagen-principal" src="/img/sekiro-card.jpg" alt="Hades"> </div>
            <div class="descripcion">
            <p>IGN Traza tu propio camino hacia la venganza en la galardonada aventura de FromSoftware, creadores de Bloodborne y la saga Dark Souls. Véngate. Restituye tu honor. Mata con ingenio.</p>
            <div class="precio-boton">
                <p>$649.50</p>
                <button type="button"><a href="/carrito">Agregar al carrito</a></button>
            </div>
            </div>
        </div>
        <!-- Detalles del juego e imagen -->
        <div class="sobre-el-juego">
            <p>Traza tu propio camino hacia la venganza en la galardonada aventura de FromSoftware, creadores de la saga Dark Souls.</p>
            <h4>En Sekiro™: Shadows Die Twice</h4>
            <p>Encarnas al 'lobo manco', un guerrero desfigurado y caído en desgracia que ha sido rescatado al borde de la muerte. Tras jurar proteger a un joven señor descendiente de un antiguo linaje, te conviertes en el objetivo de despiadados enemigos, entre ellos el peligroso clan Ashina. Cuando el joven señor sea capturado, nada te detendrá en tu peligrosa aventura por restituir tu honor, ni siquiera la muerte.</p>
            <h4>¡Explora!</h4>
            <p>El Japón de la era Sengoku de finales del siglo XVI, un brutal periodo de constante conflicto, mientras te enfrentas a inconmensurables enemigos en un mundo oscuro y tortuoso. Despliega un arsenal de instrumentos protésicos letales y poderosas habilidades ninja, al mismo tiempo que combinas el sigilo, la verticalidad y transversalidad, y los viscerales combates cara a cara en una sangrienta confrontación.</p>
            <img class="imagen-dos" src="/img/sekiro-dos.jpeg" alt="Hades" width= 50%>
        </div>
        <!-- Requisitos -->
        <div class="requisitos">
            <h4>Requisitos del sistema</h4>
            <div class="columnas">

                <h5 class="minimo-requisito">MÍNIMO:</h5>
                <ul>
                    <li>SO: Windows 7 64-bit | Windows 8 64-bit | Windows 10 64-bit</li>
                    <li>Procesador: Intel Core i3-2100 | AMD FX-6300</li>
                    <li>Memoria: 4 GB de RAM</li>
                    <li>Gráficos: NVIDIA GeForce GTX 760 | AMD Radeon HD 7950</li>
                    <li>Almacenamiento: 25 GB de espacio disponible</li>
                </ul>

                <h5 class="minimo-requisito">RECOMENDADO:</h5>
                <ul>
                    <li>SO: Windows 7 64-bit | Windows 8 64-bit | Windows 10 64-bit</li>
                    <li>Procesador: Intel Core i5-2500K | AMD Ryzen 5 1400</li>
                    <li>Memoria: 8 GB de RAM</li>
                    <li>Gráficos: NVIDIA GeForce GTX 970 | AMD Radeon RX 570</li>
                    <li>Almacenamiento: 25 GB de espacio disponible</li>
                </ul>
            </div>
                <p class="final">©2019-2020 FromSoftware, Inc. Todos los derechos reservados. Editado y distribuido por Activision. ACTIVISION es una marca comercial de Activision Publishing, Inc. El resto de marcas y nombres comerciales son propiedad de sus respectivos dueños.</p>
        </div>

    </main>
    <!-- Footer -->
<footer class="footer-footer">
    <article class="trademark">
        <h1 class="big-title" id="game-central">Game Central ©</h1>
        <h2 class="small-title">Game Central ©</h2>
    </article>
    <article class="socials">
        <div class="social-box">
            <a href="https://github.com/matiasncocco/grupo_6_GameCentral" target="_blank">
                <i class="fab fa-github"></i>
            </a>
        </div>
        <div class="social-box">
            <i class="fab fa-twitch"></i>
        </div>
        <div class="social-box" id="youtube">
            <i class="fab fa-youtube"></i>
        </div>
        <div class="social-box">
            <i class="fab fa-instagram"></i>
        </div>
        <div class="social-box">
            <i class="fab fa-twitter"></i>
        </div>
        <div class="social-box">
            <i class="fab fa-reddit-alien"></i>
        </div>
    </article>
    <article class="declaration">
        <p>© 2021, Game Central. Todos los derechos reservados. Game Central, el logotipo de Game Central, es una marca comercial o marca registrada de Game Central, Inc. Tanto en Argentina como en el resto del mundo. Otras marcas o nombres de productos son marcas comerciales de sus respectivos propietarios. Las transacciones fuera de Argentina se realizan a través de Game Central International, S.A.</p>
    </article>
</footer>
</body>
</html>