<%- include('../partials/head') %>
<%- include('../partials/header') %>

<main class="main-main estirar">

    <header class="main-title" id="first-title">
        <h3 class="big-title">CARRITO</h3>
        <h5 class="small-title">CARRITO</h5>
    </header>

    <section class="cart-section">

        <article class="cart-item">

            <div class="cart-image">
                <img src="/img/hades-card.jpg">
            </div>

            <div class="cart-description">
                <div class="cart-title">
                    <h2 class="big-title">HADES</h2>
                    <h6 class="small-title">HADES</h6>
                </div>
                <div class="cart-text">
                    <p class="big-title">
                        Desafía al dios de los muertos y protagoniza una salvaje fuga del Inframundo en este juego de exploración de mazmorras de los creadores de Bastion, Transistor y Pyre.
                    </p>
                    <p class="small-title">
                        Desafía al dios de los muertos y protagoniza una salvaje fuga del Inframundo en este juego de exploración de mazmorras de los creadores de Bastion, Transistor y Pyre.
                    </p>
                </div>
            </div>

            <div class="cart-purchase">
                <div class="cart-price">
                    <h2 class="big-title">$139.99</h2>
                    <h3 class="small-title">$139.99</h3>
                </div>
                <form class="submit-cart" action="/">
                    <button class="button-one" type="submit">
                        <h4 class="big-title">COMPRAR</h4>
                        <h6 class="small-title">COMPRAR</h6>
                    </button>
                </form>
            </div>

        </article>

    </section>
    
    <!-- Sección de ofertas -->
    <!-- <section class="main-section"> -->

        <!-- HADES -->
        <article class="unit-product-cart">
            <a href="/productDetail" class="view-cart">
                <!-- Imágen -->
                <div class="game-image-cart">
                    <img src="img/hades-card.jpg" alt="hades">
                </div>
                    <!-- Name Product -->
                <section class="Description-cart">
                    <div class="name-game">
                        <h3>HADES - Early Access</h3>
                    </div>    
                    <section class="price-trash-cart">
                        <!-- precio -->
                        <div class="price-cart">
                            <h2>$139.99</h2>
                        </div>
                        <!-- trash -->
                        <footer class="trash-cart">
                            <i class="fas fa-trash-alt"></i>
                        </footer>
                    </section>
                </section>
            </a>
        </article>

         <!-- CYBERPUNK -->
         <article class="unit-product-cart">
            <a href="/productDetail" class="view-cart">
                <!-- Imágen -->
                <div class="game-image-cart">
                    <img src="img/cyberpunk-card.jpg" alt="cyberpunk">
                </div>
                    <!-- Name Product -->
                <section class="Description-cart">
                    <div class="name-game">
                        <h3>Cyberpunk</h3>
                    </div>    
                    <section class="price-trash-cart">
                        <!-- precio -->
                        <div class="price-cart">
                            <h2>$1099.50</h2>
                        </div>
                        <!-- trash -->
                        <footer class="trash-cart">
                            <i class="fas fa-trash-alt"></i>
                        </footer>
                    </section>
                </section>
            </a>
        </article>        

        <article class="unit-product-cart">
                    <!-- Total Price -->
            <article class="total-price">
                <div class="total">
                    <h3>Precio Total*</h3>
                </div>            
                <div class="total-price-cart">
                    <h3>$1239,49</h3>
                </div>
            </article>    
        </article>
        <article class="unit-product-cart">
                    <!-- Nota aclaratoria de impuestos -->
            <div class="tax-note">
                <p class="p-note">*Impuestos incluidos</p>
            </div>            
        </article>
                    <!-- Boton de comprar -->
        <div class="button-buy">
            <button class="button" id="send" type="submit" width:>Comprar</button>
        </div>

    </section>
</main>

<%- include('../partials/footer')%>