<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css"></linkrel>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
    <title>stardew Valley</title>
</head>

<header class="header-header">

    <!-- Logo y hamburguesa -->
    <div class="logo">
        <a href="/">
            <img src="/img/icono.png" alt="icono">
        </a>
    </div>
    <div class="hamburger">
        <i class="fa fa-bars burger"></i>
    </div>

    <!-- Navbar de navegación -->
    <nav class="main-navbar">
        <ul>
            <li class="nav-link"><a href="/">Home</a></li>
            <!-- A implementar -->
            <li class="nav-link"><a href="#">Tienda</a></li>
            <li class="nav-link"><a href="#">Soporte</a></li>
        </ul>
    </nav>
            
    <!-- Navbar de acciones para el usuario -->
    <nav class="user-navbar">
        <ul>
            <!-- Iconito para ir al carrito de compras -->
            <li class="nav-link carrito"><a href="/carrito"><i class="fas fa-shopping-cart"></i></a></li>
            <li class="nav-link"><a href="/login">Iniciar sesión</a></li>
            <li class="nav-link"><a href="/registro">Registrarse</a></li>
        </ul>
    </nav>
</header>
<body>

    <!-- Main del producto -->
    <main class="detalle-producto">
        <H1 class="hades">Stardew Valley</H1>
        <!-- Imagen, texto y boton comprar -->
        <div class="presentacion">
            <div><img class="imagen-principal" src="/img/stardew-valley-card.jpg" alt="Hades"> </div>
            <div class="descripcion">
            <p>Acabas de heredar la vieja parcela agrícola de tu abuelo de Stardew Valley. Decides partir hacia una nueva vida con unas herramientas usadas y algunas monedas. ¿Te ves capaz de vivir de la tierra y convertir estos campos descuidados en un hogar próspero?</p>
            <div class="precio-boton">
                <p>$89.99</p>
                <button type="button">Agregar al carrito</button>
            </div>
            </div>
        </div>
        <!-- Detalles del juego e imagen -->
        <div class="sobre-el-juego">
            <h4>¡Crea la granja de tus sueños!</h4>
            <p>Constrúyela desde cero en una de las cinco configuraciones del mapa.</p>
            <h4>¡Domina tu habilidad con la ganadería!</h4>
            <p>Cría animales, siembra cultivos y fabrica maquinaria útil entre muchas más cosas.</p>
            <h4>¡Únete a la comunidad local!</h4>
            <p>Entabla amistad con más de 30 habitantes de Pelican Town.</p>
            <h4>¡Personaliza a tu granjero!</h4>
            <p>Podrás elegir entre cientos de opciones de personalización de personajes.</p>
            <h4>¡Instálate y empieza a formar una familia!</h4>
            <p>Comparte tu vida en la granja con uno de los doce personajes con los que podrás tener una relación.</p>
            <h4>¡Explora grandes y misteriosas cuevas!</h4>
            <p>Encuentra monstruos peligrosos y tesoros valiosos.</p>
            <img class="imagen-dos" src="/img/stardew-dos.jpeg" alt="Hades" width= 50%>
        </div>
        <!-- Requisitos -->
        <div class="requisitos">
            <h4>Requisitos del sistema</h4>
            <div class="columnas">

                <h5 class="minimo-requisito">MÍNIMO:</h5>
                <ul>
                    <li>SO: Windows Vista or greater</li>
                    <li>Procesador: 2 Ghz</li>
                    <li>Memoria: 2 GB de RAM</li>
                    <li>Gráficos: 256 mb video memory, shader model 3.0+</li>
                    <li>Almacenamiento: 500 MB de espacio disponible</li>
                </ul>

                <h5 class="minimo-requisito">RECOMENDADO:</h5>
                <ul>
                    <li>SO: Windows Vista or greater</li>
                    <li>Procesador: 2 Ghz</li>
                    <li>Memoria: 2 GB de RAM</li>
                    <li>Gráficos: 256 mb video memory, shader model 3.0+</li>
                    <li>Almacenamiento: 500 MB de espacio disponible</li>
                </ul>
            </div>
        </div>

    </main>
    <!-- Footer -->
<footer class="footer-footer">
    <article class="trademark">
        <h1 class="big-title" id="game-central">Game Central ©</h1>
        <h2 class="small-title">Game Central ©</h2>
    </article>
    <article class="socials">
        <div class="social-box">
            <a href="https://github.com/matiasncocco/grupo_6_GameCentral" target="_blank">
                <i class="fab fa-github"></i>
            </a>
        </div>
        <div class="social-box">
            <i class="fab fa-twitch"></i>
        </div>
        <div class="social-box" id="youtube">
            <i class="fab fa-youtube"></i>
        </div>
        <div class="social-box">
            <i class="fab fa-instagram"></i>
        </div>
        <div class="social-box">
            <i class="fab fa-twitter"></i>
        </div>
        <div class="social-box">
            <i class="fab fa-reddit-alien"></i>
        </div>
    </article>
    <article class="declaration">
        <p>© 2021, Game Central. Todos los derechos reservados. Game Central, el logotipo de Game Central, es una marca comercial o marca registrada de Game Central, Inc. Tanto en Argentina como en el resto del mundo. Otras marcas o nombres de productos son marcas comerciales de sus respectivos propietarios. Las transacciones fuera de Argentina se realizan a través de Game Central International, S.A.</p>
    </article>
</footer>
</body>
</html>