<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/productDetail.css"></linkrel>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
    <title>Productos</title>
</head>
<body>
    <header>
        
    </header>
    <main>
        <H1>Hades</H1>
        <div class="presentacion">
            <div><img class="imagenprincipal" src="img/hades.jpeg" alt="Hades"> </div>
            <div class="descripcion">
            <p>Desafía al dios de los muertos y protagoniza una salvaje fuga del Inframundo en este juego de exploración de mazmorras de los creadores de Bastion, Transistor y Pyre.</p>
            <button type="button">Agregar al carrito</button>
            </div>
        </div>
        <div class="sobreElJuego">
            <p>Hades es un juego roguelike de exploración de mazmorras que combina los mejores aspectos de los aclamados títulos anteriores de Supergiant, como la acción rápida de Bastion, la atmósfera y la profundidad de Transistor y la narrativa centrada en los personajes de Pyre.</p>
            <h4>COMBATE PARA ESCAPAR DEL INFIERNO</h4>
            <p>Como el príncipe inmortal del Inframundo, tendrás a tu disposición los poderes y las armas míticas del Olimpo para liberarte de las garras del mismísimo dios de los muertos, al tiempo que te vas haciendo más fuerte y descubres más piezas de la historia con cada intento de fuga.</p>
            <h4>DESATA LA IRA DEL OLIMPO</h4>
            <p>¡Los dioses del Olimpo están de tu lado! Conoce a Zeus, Atenea, Poseidón y muchos más, y elige entre decenas de poderosas bendiciones que potenciarán tus habilidades. Hay miles de arquetipos de personaje viables que irás descubriendo a medida que juegues.</p>
            <img class="imagenDos" src="img/hadesJuego.jpeg" alt="Hades" width= 50%>
        </div>
        <div class="requisitos">
            <h4>Requisitos del sistema</h4>
            <div class="columnas">

                <h5>MÍNIMO:</h5>
                <ul>
                    <li>SO: Windows 7 SP1</li>
                    <li>Procesador: Dual Core 2.4 GHz</li>
                    <li>Memoria: 4 GB de RAM</li>
                    <li>Gráficos: 1GB VRAM / DirectX 10+ support</li>
                    <li>Almacenamiento: 15 GB de espacio disponible</li>
                </ul>

                <h5>RECOMENDADO:</h5>
                <ul>
                    <li>SO: Windows 7 SP1</li>
                    <li>Procesador: Dual Core 3.0 GHz+</li>
                    <li>Memoria: 8 GB de RAM</li>
                    <li>Gráficos: 2GB VRAM / DirectX 10+ support</li>
                    <li>Almacenamiento: 20 GB de espacio disponible</li>
                </ul>
            </div>
                <p class="final">© Supergiant Games, LLC 2020. All rights reserved.</p>
        </div>

    </main>
    <footer>
        
    </footer>
</body>
</html>