* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-navbar {
    display: flex;
    justify-content: space-between;
    border: red 2px solid;
}

.top-left {
    display: flex;
    justify-content: flex-start;
}

.main-navbar ul li {
    display: inline-block;
}






@media (min-width: 576px) {
    body {
        background-color: black;
    }    
}