body{
    font-family: 'Rubik', sans-serif;
    font-size: 13px;
}

h1 {
   text-align: left;
   padding-left: 10px;
   font-size: 30px;
   margin: 0 auto;
}

h5 {
    text-align: justify;
    margin: 1px;
}

.presentacion{
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    padding: 15px;
}

.imagenprincipal {
    width: 90%; 
    height: 90%;
    border: solid black 2px;
    padding: 2px;
    margin: 0%;
}

.descripcion {
    display: flex;
    flex-direction: column;
    width: 100%; 
    height: 100%;
    padding: 2px;
    margin: 2%;
    text-align: center;
}

.sobreElJuego {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    border: black solid 1px;
    padding: auto;
}

.imagenDos {
    width: 90%; 
    height: 90%;
    border: solid black 2px;
    padding: 2px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.requisitos {
    width: 90%;
    margin: 0 auto;
}

.columnas {
    column-count: 2;
    text-align: justify;
}