* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: #767889;
}


/* TAMAÑOS DE LETRA QUE VIENEN POR DEFECTO */
/*
h1  32px
h2  24px
h3  18px
h4  16px
h5  13px
h6  10px
---------
p   16px
a   16px
*/

/* REGLAS PARA LOS LINK */
/*-------------------------------------------*/


a:link, a:visited {
    text-decoration: none;
    color: #E2DDF9
}


/* REGLAS PARA LAS IMÁGENES */
/*-------------------------------------------*/

img {
    width: 100%;
}


/* HEADER */
/*-------------------------------------------*/

.header-header {
    /* estética */
    margin: auto;
    background-color: #767889;
    color: #E2DDF9;
    /* posicionamiento */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* reglas para ambos navbar */
.main-navbar, .user-navbar {
    /* reglas de contenedor hijo */
    flex-grow: 3;
    max-width: 50%;
    /* reglas de contenedor padre */
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}


.user-navbar {
    justify-content: flex-end;
}

.logo {

}

/* nav ul li que contienen <a> */
.nav-link {
    padding: 0 8px;
    /* margin: 5px 0; */
}

/* <li> de la navbar*/
.main-navbar li, .user-navbar li {
    list-style: none;
    display: inline-block;
}







/*MEDIA QUERYS*/
/*-------------------------------------------*/

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
    /* limito el ancho */
    .header-header {
        max-width: 992px;
    }
}