* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    color: #E2DDF9;
    background-color: #767889;
}


/**/
/* font-size: CÓMO VIENEN POR DEFECTO */
/*
h1      32px
h2      24px
h3      18px
h4      16px
h5      13px
h6      10px
------------
p       16px
a       16px
label   16px
/**/


/**/
/* REGLAS PARA LOS LINK */
/**/


a:link, a:visited {
    /* saco el subrayado */
    text-decoration: none;
    /* que no cambie el color */
    color: inherit;
}


/**/
/* REGLAS PARA LAS IMÁGENES */
/**/


img {
    /* se estiran según su contenedor */
    width: 100%;
    /* arreglo un gap */
    display: block;
}


/**/
/* HEADER */
/**/


.header-header {
    /* position */
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    align-content: center;
    /* aesthetics */
    background-color: #767889;
}

/* reglas para ambos navbar */
.main-navbar, .user-navbar {
    /* flex-box: son */
    flex-grow: 3;
    max-width: 50%;
    /* flex-box: father */
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    /**/
    /* mobile first, oculto navbar */
    display: none;
}

.user-navbar {
    /* position: right */
    justify-content: flex-end;
}

.logo {
    /* afecto el height de la navbar */
    margin: 10px;
}

/* .hamburger {

} */

/* los link de la navbar */
.nav-link {
    /* position */
    padding: 0 8px;
}

.main-navbar li, .user-navbar li {
    /* saco los puntitos */
    list-style: none;
    /* position */
    display: inline-block;
}


/**/
/* MAIN */
/**/


.main-main {
    /* para separarlo del header */
    padding-top: .1px;
    /* aesthetics */
    margin: auto;
    background-color: #858BB7;

    /* temporal */
    height: 20000px;
}


/**/
/* HOME */
/**/


/* bordes */
.main-title,
.main-section {
    border: 5px solid #b6b1f1;
    border-left: 15px solid #b6b1f1;
}

/* títulos de cada sección*/
.main-title {
    /* position */
    margin: 5px 15px;
    padding: 15px;
}

#first-title {
    margin-top: 20px;
}

/* sección grande */
.main-section {
    /* position */
    margin: 15px;
    /* flex-box father */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

/* uno por producto */
.unit-product {
    /* aesthetics */
    padding: 15px;
    border: 1px red solid;
    /* muestro 1 producto */
    width: 100%;
}

.game-image {
    position: relative;
}

/* cintita */
.ribbon {
    /* position */
    position: absolute;
    bottom: 15%;
    width: 100%;
    /* aesthetics */
    background-color: #75FF33;
}

.full-price {
    /* position */
    position: relative;
    left: 5px;
    bottom: 0px;
    /* aesthetics */
    color: #17202A;
}

.discount {
    /* position */
    position: absolute;
    right: 5px;
    bottom: 0px;
    /* aesthetics */
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}




























/**/
/* productDetail */
/**/
















/**/
/* FOOTER */
/**/


.footer-footer {
    position: relative;
}

/* botoncito arriba*/
.to-the-top {
    /* aesthetics */
    background: none;
    background-color: red;
    border: 1px red solid;
    font-family: inherit;
    font-size: 16px;
    font-weight: 800;
    /* position */
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.to-the-top:hover {
    cursor: pointer;
}


/**/
/* MEDIA QUERY */
/**/


/*
TABLETS
*/
@media (min-width: 576px) {
    /**/
    /* HEADER */
    /**/

    /* muestro la navbar */
    .main-navbar, .user-navbar {
        display: flex;
    }

    /* oculto la hamburguesa*/
    .hamburger {
        display: none;
    }


    /**/
    /* MAIN */
    /**/


    /**/
    /* HOME */
    /**/

    
    /* muestro 2 productos */
    .unit-product {
        max-width: 50%;
    }
}


/*
DESKTOP
*/
@media (min-width: 768px) {
    /**/
    /* MAIN */
    /**/


    /**/
    /* HOME */
    /**/

    
    /* muestro 3 */
    .unit-product {
        max-width: 33.33%;
    }
}


/*
PANTALLAS +
*/
@media (min-width: 992px) {
    /* limito el ancho */
    .header-header, .main-main, .footer-footer {
        max-width: 1200px;
    }
    
    
    /**/
    /* MAIN */
    /**/


    /**/
    /* HOME */
    /**/

    
    /* muestro 4 */
    .unit-product {
        max-width: 25%;
    }
}