/**/
/* GLOBAL THINGS */
/**/


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ESTOS SIRVEN PARA QUE LOS */
/* INPUT TYPE="NUMBER" NO TENGAN */
/* ESAS FLECHITAS HORRIBLES */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
/* ESTE ES PARA DARLE ESTILO AL PLACEHOLDER */
::-webkit-input-placeholder {
    font-style: italic;
    color: #666;
    font-family: 'Rubik', sans-serif;
    font-size: inherit;
}
/**/
/**/
/**/

body {
    font-family: 'Rubik', sans-serif;
    color: #FFF;
    background-image: url('/img/background.jpeg');
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}


/**/
/* REGLAS PARA LOS LINK */
/**/


a {
    text-decoration: none;
    color: inherit;
}


/**/
/* REGLAS PARA TÍTULOS Y TEXTO */
/**/


h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18.72px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 13.28px;
}

h6 {
    font-size: 10.72px;
}

.big-title {
    display: none;
}


/**/
/* REGLAS PARA LAS IMÁGENES */
/**/


img {
    width: 100%;
    display: block;
}


/**/
/* HEADER */
/**/


.header-header {
    width: 100%;
    background: linear-gradient(#E2DDF9,#858BB7);
    border-bottom: 2px solid #B6B1F1;
}

.header-section {
    height: 40px;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    max-width: 90%;
}

.main-navbar, .user-navbar {
    display: none;
}

.logo-box {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    transition: all .2s cubic-bezier(.25,.25,.25,.25);
    font-size: 20px;
    line-height: 36px;
    border: 50%;
    background: #B14593;
    text-align: center;
}

.hamburger {
    margin: 0 10px;
    align-self: center;  
    width: 36px;
    height: 36px;
}

.hamburger i {
    text-align: center;
    width: 100%;
    font-size: 36px;
    border-radius: 5px;
    color: #FFF;
    background: linear-gradient(#858BB7,#E2DDF9);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.icon-bar{
    padding: 2%;
    color: black;
    border: 1px solid black;
    background: linear-gradient(#858BB7,#E2DDF9);
    border-radius: 5px;
}


/**/
/* MAIN */
/**/


.main-main {
    width: 90%;
    padding-top: .1px;
    margin: auto;
}


/**/
/* HOME */
/**/


.main-title {
    margin: 20px 0 5px 0;
    padding: 8px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    background: linear-gradient(#E2DDF9,#858BB7);
    border-radius: 8px;
    border: #858BB7 solid 2px;
}

.admin-controls-title {
    width: 100%;
}

.link-title {
    width: fit-content;
    margin-bottom: 30px;
    transition: all .2s cubic-bezier(.25,.25,.25,.25);
    cursor: pointer;
}

.link-header {
    transition: all .2s cubic-bezier(.25,.25,.25,.25);
    padding-left: 25px;
}

.link-header i {
    opacity: 0;
    transition: all .2s cubic-bezier(.25,.25,.25,.25);
    color: #B14593;
    padding-left: 10px;
}

.main-section {
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.last-section {
    margin-bottom: 50px;
}

.unit-product {
    position: relative;
    padding: 15px;
    width: 100%;
}

.overlay-product {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #B6B1F1;
    visibility: hidden;
    opacity: 0;
    transition: all .5s cubic-bezier(.25,.25,.25,.25);
}

.game-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    border: 1px black solid;
    border-radius: 4px;
    background: linear-gradient(#E2DDF9,#858BB7);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    visibility: hidden;
    opacity: 0;
    transition: opacity .5s cubic-bezier(.25,.25,.25,.25);
    box-shadow: 5px 5px 5px 5px black;
    text-align: center;
}

.ver-mas {
    position: absolute;
    display: inline-block;
    top: 40%;
    left: 40%;
    width: 100px;
    padding: 8px;
    border: 1px black solid;
    border-radius: 4px;
    background: linear-gradient(#E2DDF9,#858BB7);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity .5s cubic-bezier(.25,.25,.25,.25);
    box-shadow: 5px 5px 5px 5px black;
}

.game-image {
    position: relative;
}

.game-img-img {
    image-rendering: auto;
    image-rendering: crisp-edges;
    height: auto;
}

.new-price {
    padding: 3px;
    position: absolute;
    right: 0;
    bottom: 35px;
    z-index: 25;
    text-align: center;
    background: linear-gradient(#E2DDF9,#858BB7);
    box-shadow: 5px 5px 5px 5px black;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    border: 1px black solid;
    border-radius: 4px;
    visibility: hidden;
    opacity: 0;
    transition: opacity .5s cubic-bezier(.25,.25,.25,.25);
}

.ribbon {
    position: absolute;
    bottom: 10px;
    width: 100%;
    height: 30px;
    z-index: 20;
    background: linear-gradient(#E2DDF9,#858BB7); 
    border-top: 1px black solid;
    border-bottom: 1px black solid;
}

.full-price {
    position: relative;
    left: 2px;
    top: 3.5px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.discount {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    right: 5px;
    bottom: -10px;
    background: linear-gradient(#B1455D,#B14593,#9945B1);
    border: 2px #E2DDF9 solid;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    opacity: 1;
    transition: opacity .5s cubic-bezier(.25,.25,.25,.25);
}

.discount-h {
    position: absolute;
    bottom: 13px;
    left: 4px;
}

.crossed-out {
    transition: all .5s cubic-bezier(.25,.25,.25,.25);
}


/**/
/* PRODUCT SHOW */
/**/
    

.show-section {
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 8px;
    background: linear-gradient(#E2DDF9,#858BB7);
    border: #858BB7 solid 2px;
    border-radius: 8px;
    display: flex;
    flex-flow: row wrap;
}

.show-img {
    width: 60%;
}

.show-main {
    width: 40%;
    padding: 0 5px;
}

.show-title {
    text-shadow: -2px 2px 0 black;
    text-align: left;
    width: 100%;
}

.show-title-game-title {
    text-shadow: -2px 2px 0 black, -4px 4px 0 #B14593;
}

.show-description {
    padding-top: 5px;
    font-size: 10px;
    line-height: 17px;
    color: black;
    text-align: left;
    font-weight: 600;
}

.read-more-link {
    color: #B14593;
}

.show-category {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10px;
    margin: 1%;
}

.show-platforms {
    margin-bottom: 5%;
}

.category-title {
    width: 25%;
    text-align: center;
}

.category-box {
    width: 75%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.category-single-box {
    width: 50%;
    text-align: center;
}

.category-single-box p {
    line-height: 26px;  
    height: 26px;
    background: linear-gradient(#B1CCF1,#D6B1F1);
    border: dotted 1px #B14593;
    border-radius: 8px;
    color: #B14593;
    font-weight: 400;
    font-size: 10px;
    text-shadow: -1px 1px 0 black;
}

.long-description {
    padding-left: 15px;
    margin-bottom: 50px;
}

.offer-display {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    background: linear-gradient(#B1455D,#B14593,#9945B1);
    border: 2px #E2DDF9 solid;
    border-radius: 4px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    justify-content: flex-end;
    width: 100%;
    opacity: .9;
    transition: all .2s cubic-bezier(.25,.25,.25,.25);
}

.offer-display-box {
    width: 25%;
    text-align: center;
    padding: 5px;
}

.original-price {
    text-decoration: line-through;
    opacity: .8;
}

.te-ahorras {
    font-size: 12px;
    width: 50%;
    color: #45B163;
}

.pagas-box {
    width: 50%;
    align-self: center;
    text-align: right;
    padding-right: 3%;
    text-shadow: -2px 2px 0 black;
    color: #5DB145;
}

.purchase-display {
    width: 50%;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;
    justify-content: center;
}

.purchase-price-box, .purchase-button-box {
    padding: 5px;
    width: 100%;
    background: #5DB145;
    text-shadow: -2px 2px 0 black;
    text-align: center;
    border-radius: 4px;
    border: 2px #E2DDF9 solid;
    border-top: none;
    transition: all .1s cubic-bezier(.25,.25,.25,.25);
}

.purchase-button-box {
    border-radius: 0 0 30px 30px;
}

.show-long-description {
    margin-top: 5%;
}

.long-description {
    margin-top: 1%;
    margin-bottom: 50px;
}

.admin-main-box {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
}

.admin-edit-box, .admin-delete-box {
    width: 50%;
    text-align: center;
}

.admin-button-edit, .admin-button-delete {
    padding: 4px;
    background-color: #858BB7;
    border: 2px solid #E2DDF9;
    transition: all .2s cubic-bezier(.25,.25,.25,.25);
    cursor: pointer;
    font-size: 12px;
    font-weight: 900;
}

.math-values-show {
    display: none;
}


/**/
/* CARRITO */
/**/


.cart-section {
    margin: auto;
    width: 90%;
}

.cart-item {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid black;
    box-shadow: 10px 10px 5px 5px black;
    margin: 20px 0 20px 0;
    background: linear-gradient(#E2DDF9,#858BB7);
}

.item-image {
    padding: 5px;
}

.item-image, .item-title, .item-price {
    width: 30%;
}

.item-title, .item-price, .item-so-i {
    text-align: center;
    font-size: 14px;
    text-shadow: -2px 2px 0 black;
}

.item-so-i {
    display: none;
}

.item-delete {
    width: 10%;
}

.item-delete button {
    visibility: hidden;
}

.item-delete button i {
    visibility: visible;
    cursor: pointer;
    font-size: 12px;
    text-align: center;
    text-shadow: -2px 2px black;
    color: #FFF;
    transition: all .2s cubic-bezier(.25,.25,.25,.25);
}


/**/
/* PRODUCT INDEX */
/**/


.flex-title {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.title-header-box {
    width: 50%;
}

.store-control-box {
    width: 50%;
    text-align: right;
}

.store-control-link {
    margin: 2%;
}

.store-control-link i {
    cursor: pointer;
    font-size: 13.28px;
    color: #FFF;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-shadow: -2px 2px #B14593;
}

.search-bar-section {
    width: 80%;
    margin: auto;
}

.search-bar-box {
    margin: 2% 0;
    display: flex;
    flex-flow: row wrap;
}

.search-bar {
    width: 100%;
    padding: 1%;
    border: #858BB7 solid 2px;
    border-radius: 4px 0 0 4px;
    font-family: inherit;
    font-weight: 400;
    transition: all .1s cubic-bezier(.25,.25,.25,.25);
}

.search-bar:focus {
    outline-color: #B6B1F1;
}

.hide-while-searching {
    display: none;
}

/**/
/* FORMULARIOS */
/**/


.register-form {
    margin: auto;
    width: 90%;
    background: linear-gradient(#E2DDF9,#858BB7);
    border: #858BB7 solid 2px;
    border-radius: 8px;
    margin-bottom: 30px;
}

.product-create-form {
    margin: auto;
    width: 90%;
    background: linear-gradient(#E2DDF9,#858BB7);
    border: #858BB7 solid 2px;
    border-radius: 8px;
    margin-bottom: 30px;
}

.form-section {
    width: 100%;
}

.image-section {
    display: none;
}

.product-create-section {
    width: 80%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 5px #FFF solid;
    box-shadow: 0 0 15px 5px black;
}

/* BOXES */
.input-box {
    margin: 20px 10px;
    padding-top: 5px;
}

.properties-categories {
    display: flex;
    flex-flow: row wrap;
}

.country-container {
    display: flex;
    flex-flow: row wrap;
}

.file-box {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
}

.platform-check-box {
    display: flex;
    flex-flow: row wrap;
    width: 50%;
    margin-top: 1%;
}

.previous-image-box {
    text-align: center;
}

.previous-image-box img {
    max-height: 100px;
}

/* LABELS */
.label-label {
    display: block;
    padding: 8px 0;
    color: black;
    font-weight: 500;
    font-size: 12px;
}

.label-smaller {
    font-weight: 400;
    font-size: 10px;
    color: black;
    padding: 8px 0;
}

.label-tyc {
    color: black;
    font-weight: 500;   
    font-size: 10px;
    margin: 0 10px;
}

.label-remember {
    color: black;
    text-decoration: underline;
    cursor: pointer;
    transition: all .1s cubic-bezier(.25,.25,.25,.25);
}

.label-radio {
    padding-left: 10px;
    cursor: pointer;
    display: inline-block;
    border: #858BB7 solid 2px;
    border-radius: 4px;
    background-color: #FFF;
}

.label-platforms {
    width: 50%;
    text-align: center;
    padding: 0;
    margin: 0;
    padding: 8px 0;
}

.label-platforms-icon {
    font-size: 20px;
}

.label-platform-checked {
    background-color: #B14593;
}

.label-platform-checked i {
    color: #FFF;
    text-shadow: -1px 0 #858BB7, 0 1px #858BB7, 1px 0 #858BB7, 0 -1px #858BB7;
}

.discount-rate-label {
    padding-top: 0;
}

/* INPUTS */
.input-text {
    width: 100%;
    padding: 8px;
    border: #858BB7 solid 2px;
    border-radius: 4px;
    font-family: inherit;
    font-size: 10px;
    font-weight: 400;
}

.input-text:focus {
    outline-color: #B6B1F1;
}

.input-radio {
    margin: 5px;
    cursor: pointer;
}

.input-checkbox {
    margin: 5px;
    cursor: pointer;
}

.input-price {
    width: 50%;
    padding-left: 0;
    border-left: none;
    border-radius: 0 8px 8px 0;
}

.input-discount {
    width: 50%;
    padding-left: 0;
    border-left: none;
    border-radius: 0 8px 8px 0;
}

.text-area-product {
    width: 100%;
    resize: none;
    padding: 8px;
    border: #858BB7 solid 2px;
    border-radius: 4px;
    font-family: inherit;
    font-weight: 400;
    font-size: 10px;
}

.text-area-product:focus {
    outline-color: #B6B1F1;
}

.product-file {
    width: 100%;
    background-color: #FFF;
    cursor: pointer;
}

.input-file {
    font-style: inherit;
    font-size: inherit;
}

.select-country {
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}

.select-country optgroup {
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}

.select-country optgroup option {
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}

.properties-category, .select-country {
    width: 50%;
}

.edit-product-file {
    width: 50%;
}

.edit-product-file img {
    margin-bottom: 2%;
}

/* BUTTONS */
.button-box {
    margin: auto;
    display: flex;
    padding: 30px 0;
    flex-flow: column wrap;
    align-items: center;
}

.button-send, .button-cancel {
    margin: 10px;
}

.button-send {
    width: fit-content;
    padding: 8px 40px;
    border: none;
    border-radius: 8px;
    color: #FFF;
    text-shadow: -2px 2px 0 black;
    background: linear-gradient(#E2DDF9,#858BB7);
    box-shadow: 6px 6px black;
    transition: all .2s cubic-bezier(.25,.25,.25,.25);
    cursor: pointer;
}

.button-cancel {
    width: fit-content;
    padding: 4px;
    background-color: #858BB7;
    border: 2px solid #E2DDF9;
    transition: all .2s cubic-bezier(.25,.25,.25,.25);
    margin-top: 60px;
}

.button-reset {
    width: fit-content;
    color: black;
    font-size: 12px;
    font-weight: 700;
    text-decoration: underline;
    background-color: inherit;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin-bottom: 15px;
    transition: all .1s cubic-bezier(.25,.25,.25,.25);
}

/* MISC */
.terms-conditions {
    text-decoration: underline;
}

.discount-indicator {
    color: black;
    font-weight: 900;
    font-size: 10px;
    background-color: #FFF;
    border: #858BB7 solid 2px;
    padding: 8px 0 8px 8px;
    border-right: none;
    border-radius: 8px 0 0 8px;
}

.enable-disable-offer {
    color: #404040;
    background-color: #808080;
}

/* ERROR */
.error-msg {
    display: block;
    color: black;
    width: fit-content;
    border-radius: 8px;
    box-shadow: inset 0px 0 30px red;
    margin: 2% 0;
    padding: 1%;
    font-size: 12px;
    font-weight: 600;
    text-shadow: -.5px 0 #FFF, 0 .5px #FFF, .5px 0 #FFF, 0 -.5px #FFF;
}

.error-input {
    border: red solid 2px;
}

.error-input:focus {
    outline: red;
}

.error-input-price {
    border: red solid 2px;
    border-left: none;
    border-radius: 0 8px 8px 0;
}

.error-input-price:focus {
    outline: red;
}

.error-span-price {
    border: red solid 2px;
    border-right: none;
    border-radius: 8px 0 0 8px;
}

.edit-warning-box .error-msg {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 3%;
}

.error-box {
    width: 100%;
}

.tyc-error {
    color: red;
    text-decoration: underline;
}


/**/
/* FOOTER */
/**/


.footer-footer {
    width: 100%;
    margin: auto;
    background: linear-gradient(#E2DDF9,#858BB7);
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    border-top: 2px solid #B6B1F1;
}

.to-the-top {
    position: absolute;
    right: 15px;
    top: -15px;
    height: 30px;
    width: 30px;
    background-color: #E2DDF9;
    border-radius: 50%;
    transition: all .2s cubic-bezier(.25,.25,.25,.25);
}

.to-the-top i{
    color: black;
    font-size: 30px;
}

.trademark {
    margin-top: 30px;
    text-shadow: -2px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
}

.socials, .declaration {
    color: black;
}

.socials {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    font-size: 25px;
}

.social-box {
    text-align: center;
    width: 30%;
    margin: 10px 0;
}

.social-box i {
    padding: 15px;
    transition: all .2s cubic-bezier(.25,.25,.25,.25);
    border-radius: 100%;
    cursor: pointer;
}

.declaration {  
    margin: 15px 35px;
}

.declaration p {
    text-align: center;
    font-size: 10px;
    line-height: 17px;
}

/**/
/* TERMS & CONDITIONS */
/**/

.politic-section {
    color: black;
    margin: auto;
    width: 90%;
    background: linear-gradient(#E2DDF9,#858BB7);
    border: #858BB7 solid 2px;
    border-radius: 8px;
    padding: 2%;
    margin-bottom: 30px;
}

.politic-section p {
    margin: 1% 0 2% 0;
    font-size: 14px;
    line-height: 21px;
    text-align: justify;
    padding: 0 2%;
}


/**/
/* ERROR */
/**/


.error-header {
    position: relative;
}

.error-section {
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.error-header i {
    font-size: 50px;
    color: #FFF;
    transition: all .1s cubic-bezier(.25,.25,.25,.25);
}

.error-trademark {
    text-shadow: -2px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
}

.error-trademark h1 {
    font-size: 40px;
}

.error-main {
    text-align: center;
    color: #858BB7;
    text-shadow: -3px -3px #E2DDF9, 2px 2px 3px black;
}

.error-text {
    margin: 10%;
}

.error-text h1 {
    font-size: 70px;
    display: inline-block;
    margin: 2%;
}

.error-detail {
    text-shadow: none;
    font-size: 30px;
    color: black;
    font-weight: 500;
    text-shadow: 1px 1px 1px #FFF;
}

/**/
/* USER INDEX */
/**/


.main-grid {
    width: 100%;
    margin: auto;
    background: linear-gradient(#E2DDF9,#858BB7);
    border-radius: 8px;
    margin-bottom: 30px;
    margin-top: 15px;
    padding: 10px;
    border: #858BB7 solid 2px;
}

.grid-box {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.user-data {
    color: black;
    font-size: 10px;
}

.user-data-title {
    font-weight: 600;
}

.long-data {
    width: 25%;
}

.longest-data {
    width: 40%;
    text-overflow: clip;
}

.short-data {
    width: 10%;
    text-align: center;
}

.admin-true {
    color: green;
}

.admin-false {
    color: red;
}

.admin-checkbox {
    cursor: pointer;
}

.privilege-change {
    margin: 30px 0;
    background: linear-gradient(#E2DDF9,#858BB7);
    border-radius: 8px;
    padding: 30px 0;
    border: #858BB7 solid 2px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.privilege-question {
    width: 70%;
    text-align: left;
    color: black;
    font-size: 12px;
    padding: 0 5px;
}

.privilege-form {
    width: 30%;
    text-align: right;
    display: flex;
    flex-flow: column wrap;
}

.privilege-form button {
    font-size: 12px;
    width: 100%;
    border: #858BB7 solid 1px;
    background: #FFF;
}

.privilege-checkbox {
    display: none;
}

.user-data-privilege {
    font-weight: 600;
}


/**/
/* USER PROFILE */
/**/


.profile-section {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 90%;
    background: linear-gradient(#E2DDF9,#858BB7);
    border-radius: 8px;
    border: solid 2px #858BB7;
    color: black;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.profile-section-hide {
    display: none;
}

.profile-title {
    width: 60%;
    text-shadow: -1px 0 #FFF, 0 1px #FFF, 1px 0 #FFF, 0 -1px #FFF;
    justify-self: flex-start;
    margin: 3% 0;
    padding: 0 3%;
}

.profile-cart-link {
    justify-self: flex-end;
    width: 40%;
    text-align: right;
    margin: 3% 0;
    padding: 0 3%;
    color: #FFF;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;  
}

.profile-name {
    width: 100%;
    margin: 3% 0 1% 0;
    padding: 0 1%;
    text-shadow: -1px 0 #FFF, 0 1px #FFF, 1px 0 #FFF, 0 -1px #FFF;
    text-align: center;
}

.profile-is-admin {
    width: 100%;
    padding: 5px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: center;
    color: white;
}

.link-box {
    margin: auto;
    width: 80%;
    background: #B14593;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    opacity: .8;
    border-radius: 8px;
}

.admin-link {
    width: fit-content;
    padding: 1%;
    font-size: 10px;
}

.admin-link i {
    font-size: 8px;
    margin-left: 5px;
}

.profile-avatar {
    margin: 1% 0;
    width: 150px;
}

.profile-avatar img {
    width: 100%;
    border-radius: 100%;
    border: solid 2px #858BB7;
}

.profile-more {
    width: 100%;
    margin: 2% 0;
    text-shadow: -1px 0 #FFF, 0 1px #FFF, 1px 0 #FFF, 0 -1px #FFF;
    text-align: center;
}

.profile-newsletter, .profile-acquired-games {
    margin: 1% 0;
    padding: 1% 0;
    font-weight: 500;
    font-size: 11px;
}

.profile-more h1, .profile-more h3, .profile-more h4 {
    margin: 2% 0;
}

.profile-user-games {
    border-top: double 5px #B14593;
    width: 100%;
    text-align: left;
    padding: 2%;
}

.profile-user-games h2, .profile-user-games h4 {
    color: #B14593;
    text-decoration: underline;
    text-shadow: -1px 0 #FFF, 0 1px #FFF, 1px 0 #FFF, 0 -1px #FFF;
}

.profile-user-games p {
    text-shadow: none;
}

.user-control-footer {
    background: linear-gradient(#E2DDF9,#858BB7);
    border-radius: 8px;
    border: solid 2px #858BB7;
    margin: auto;
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 20px 0;
    margin-bottom: 30px;
}

.user-control-box {
    width: 33%;
    text-align: center;
}

.user-control-button {
    width: fit-content;
    padding: 4px;
    background-color: #858BB7;
    border: 2px solid #E2DDF9;
    transition: all .2s cubic-bezier(.25,.25,.25,.25);
    cursor: pointer;
}

.user-control-disable {
    width: fit-content;
    padding: 4px;
    background-color: #808080;
    color: #404040;
    border: 2px solid #E2DDF9;
    transition: all .2s cubic-bezier(.25,.25,.25,.25);
}

/**/
/* FORMULARIO DE EDICIÓN DE USUARIO */
/**/


.edit-user-main {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
    font-family: inherit;
}

.edit-user-box {
    width: 25%;
    text-align: center;
    align-items: center;
    font-weight: 600;
    font-size: 12px;
    margin: 3% 0;
}

.edit-user-label {
    margin: auto;
    width: 90%;
}

.edit-user-input {
    margin: auto;
    width: 95%;
    text-align: center;
    padding: 4px;
    font-weight: inherit;
    font-family: inherit;
    font-size: inherit;
}


/**/
/* CONTACTO */
/**/


.contact-section {
    color: black;
    margin: auto;
    width: 90%;
    background: linear-gradient(#E2DDF9,#858BB7);
    border: #858BB7 solid 2px;
    border-radius: 8px;
    padding: 2%;
    margin-bottom: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.contact-box {
    width: 80%;
    height: 100px;
    box-shadow: 5px 5px 5px 5px black;
    margin: 10px 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
}

.contact-img {
    width: 25%;
}

.contact-img img {
    border-radius: 50%;
    width: 80%;
    margin: auto;
    box-shadow: 0 0 5px 0 #B14593;
}

.contact-data {
    width: 75%;
    display: flex;
    flex-flow: column wrap;
}


/**/
/* MEDIA QUERIES */
/**/


/*
TABLETS
*/
@media (min-width: 576px) {
    /**/
    /* REGLAS PARA TÍTULOS Y TEXTO */
    /**/


    .small-title {
        display: none;
    }
    
    .big-title {
        display: block;
    }


    /**/
    /* HEADER */
    /**/


    .hamburger {
        display: none;
    }

    .header-section {
        height: 70px;
        justify-content: flex-start;
    }

    .logo-box {
        width: 66px;
        height: 66px;
        font-size: 40px;
        line-height: 66px;
    }

    .main-navbar {
        flex-grow: 3;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
    }

    .local-navbar, .user-navbar {
        width: 50%;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        font-size: 14px;
        color: black;
        font-weight: 600;
        text-shadow: -.5px 0 #FFF, 0 .5px #FFF, .5px 0 #FFF, 0 -.5px #FFF;
    }

    .user-navbar {
        justify-content: flex-end;
    }

    .local-navbar-link {
        width: 33%;
        text-align: center;
    }

    .user-navbar-link {
        width: 45%;
        text-align: right;
    }
    
    .navbar-avatar {
        margin-left: 1%;
    }

    .navbar-avatar img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }


    /**/
    /* HOME */
    /**/


    .unit-product {
        font-weight: bold;
    }

    .discount {
        width: 55px;
        height: 55px;
        right: 5px;
        bottom: -10px;
    }

    .discount-h {
        left: 1px;
        bottom: 12px;
    }


    /**/
    /* CARRITO */
    /**/


    .item-so-i {
        display: block;
        font-size: 20px;
    }

    .item-image, .item-title, .item-so-i, .item-price {
        width: 23%;
    }

    .item-delete {
        width: 8%;
    }
    
    .item-delete button i {
        font-size: 20px;
    }

    
    /**/
    /* PRODUCT SHOW */
    /**/


    .show-main {
        padding: 10px;
    }

    .show-title h3 {
        font-size: 20px;
    }

    .show-description {
        font-size: 14px;
        line-height: 21px;
    }

    .category-single-box p {
        height: 46px;
        line-height: 46px;
        font-size: 18.72px;
    }

    .te-ahorras {
        font-size: 16px;
    }

    .admin-button-edit, .admin-button-delete {
        font-size: 20px;
    }


    /**/
    /* PRODUCT INDEX */
    /**/


    .store-control-link i {
        font-size: 18.72px;
    }


    /**/
    /* FORMULARIOS */
    /**/


    /* LABELS */
    .label-label, .label-tyc {
        font-size: 14px;
    }

    .label-smaller {
        font-size: 12px;
    }

    .label-platforms-icon {
        font-size: 30px;
    }
    
    /* INPUTS */
    .input-text {
        width: 70%;
        font-size: 12px;
    }

    .input-price {
        width: 50%;
    }

    .input-discount {
        width: 50%;
    }
    
    .input-text-product {
        width: 100%;
    }
    
    .text-area-product {
        font-size: 12px;
    }

    .product-file, .select-country {
        width: 70%;
    }

    .properties-category {
        width: 50%;
    }

    .edit-product-file {
        width: 50%;
    }

    /* ERROR */
    .error-msg {
        font-size: 14px;
    }

    /* MISC */
    .discount-indicator {
        font-size: 12px;
    }


    /**/
    /* FOOTER */
    /**/

    
    .footer-footer {
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .trademark {
        margin: 0;
        width: 50%;
        text-align: center;
    }

    .socials {
        width: 50%;
        font-size: 30px;
    }

    .social-box {
        text-align: left;
    }

    .declaration {
        width: 100%;
        margin: 30px 120px;
    }
    
    .declaration p {
        font-size: 12px;
        line-height: 19px;
    }


    /**/
    /* TERMS & CONDITIONS */
    /**/
    

    .politic-section h3 {
        font-size: 22px;
    }

    .politic-section p {
        font-size: 18px;
        line-height: 25px;
    }

    /**/
    /* ERROR */
    /**/


    .error-section {
        width: 70%;
    }

    .error-icon i {
        font-size: 70px;
    }


    /**/
    /* USER INDEX */
    /**/


    .user-data {
        font-size: 14px;
    }


    /**/
    /* USER PROFILE */
    /**/

    
    .user-control-button h4 {
        font-size: 13px;
    }

    .profile-title {
        text-align: left;
    }

    .profile-avatar {
        width: 200px;
    }

    .profile-newsletter, .profile-acquired-games {
        font-size: 14px;
    }

    .link-box {
        width: 60%;
    }

    .admin-link {
        font-size: 14px;
    }

    .admin-link i {
        font-size: 10px;
    }
}


/*
DESKTOP
*/
@media (min-width: 768px) {
    /**/
    /* HEADER */
    /**/

    .logo-box:hover {
        box-shadow: 0 0 10px 5px black;
        color: black;
    }

    .local-navbar, .user-navbar {
        font-size: 18px;
        color: #FFF;
        text-shadow: -1px 0 #404040, 0 1px #404040, 1px 0 #404040, 0 -1px #404040;        
    }

    .local-navbar-link a, .user-navbar-link a {
        transition: all .2s cubic-bezier(.25,.25,.25,.25);
        padding: 6px;
        border-radius: 20px;
    }

    .local-navbar-link a:hover, .user-navbar-link a:hover {
        box-shadow: inset 0 0 30px 0 #FFF;
        text-shadow: none;
        color: black;
        text-shadow: none;
    }


    /**/
    /* MAIN */
    /**/


    /**/
    /* HOME */
    /**/


    .main-title {
        padding: 15px;
    }

    .link-title:hover {
        border: #B14593 solid 2px;
    }

    .link-title:hover .link-header {
        color: #B14593;
    }

    .link-title:hover .link-header i {
        opacity: 1;
    }
    
    .unit-product {
        max-width: 50%;
    }

    .unit-product:hover .overlay-product {
        visibility: visible;
        opacity: .6;
    }

    .unit-product:hover .ver-mas {
        visibility: visible;
        opacity: 1;
    }

    .unit-product:hover .game-title {
        visibility: visible;
        opacity: 1;
    }

    .unit-product:hover .new-price {
        visibility: visible;
        opacity: 1;
    }

    .unit-product:hover .crossed-out {
        text-decoration: line-through;
        color: #858BB7;
        opacity: .5;
    }

    .unit-product:hover .discount {
        opacity: 0;
    }


    /**/
    /* CARRITO */
    /**/


    .item-delete button i:hover {
        color: #B14593;
        font-size: 25px;
    }


    /**/
    /* PRODUCT SHOW */
    /**/


    .show-main {
        padding: 20px;
    }

    .show-title h2 {
        font-size: 32px;
    }

    .show-title h3 {
        font-size: 24px;
    }

    .category-single-box p {
        height: 58px;
        line-height: 58px;
        font-size: 24px;
    }

    .show-description {
        font-size: 16px;
        line-height: 23px;
    }

    .read-more-link:hover {
        text-decoration: underline;
        font-style: italic;
    }

    .offer-display {
        opacity: .7;
    }

    .offer-display:hover {
        opacity: .9;
    }

    .te-ahorras {
        font-size: 32px;
    }

    .offer-display h2 {
        font-size: 32px;
    }

    .pagas-box h1 {
        font-size: 36px;
    }

    .purchase-price-box h2, .purchase-button-box h2 {
        font-size: 32px;
    }

    .purchase-price-box:hover, .purchase-button-box:hover {
        background: #519b3c;
    }

    .admin-button-edit:hover {
        color: #FFF;
        background-color: blue;
        border: 2px solid blue;
    }

    .admin-button-delete:hover {
        color: #FFF;
        background-color: red;
        border: 2px solid red;
    }

    /**/
    /* PRODUCT INDEX */
    /**/


    .store-control-link i {
        opacity: .5;
        color: black;
        text-shadow: none;
        transition: all .2s cubic-bezier(.25,.25,.25,.25);
        font-size: 30px;
    }

    .store-control-link:hover i {
        opacity: 1;
        color: #FFF;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        text-shadow: -2px 2px #B14593;
    }


    /**/
    /* FORMULARIOS */
    /**/


    /* LABELS */
    .label-label, .label-tyc {
        font-size: 16px;
    }

    .label-smaller {
        font-size: 14px;
    }

    .label-radio:hover {
        border: solid 2px #B6B1F1;
    }

    .label-remember:hover {
        color: #404040;
        text-decoration: none;
    }

    .label-platforms-icon {
        font-size: 40px;
    }

    .label-platforms-icon-text {
        line-height: 40px;
        font-size: 20px;
        font-family: 'Rubik', sans-serif;
        font-weight: 400;
        text-decoration: none;
        font-style: normal;
    }

    /* INPUTS */
    .input-text {
        width: 60%;
        font-size: 14px;
    }

    .input-price {
        width: 50%;
    }

    .input-discount {
        width: 50%;
    }

    .input-text-product {
        width: 100%;
    }

    .text-area-product {
        font-size: 14px;
    }

    .product-file, .select-country {
        width: 60%;
    }

    .properties-category {
        width: 50%;
    }

    .edit-product-file {
        width: 50%;
    }

    .edit-product-file {
        width: 50%;
    }

    /* BUTTONS */
    .button-send:hover {
        color: #767889;
        transform: translate(3px,3px);
        box-shadow: 3px 3px black;
    }

    .button-cancel:hover {
        color: #FFF;
        background-color: #B14593;
        border: 2px solid #B14593;
        text-shadow: -2px 2px 0 black;
    }

    .button-reset:hover {
        border-radius: 8px;
        color: #404040;
        text-decoration: none;
    }

    /* ERROR */
    .error-msg {
        font-size: 16px;
    }

    /* MISC */
    .label-tyc:hover .terms-conditions {
        color: #B14593;
    }

    .terms-conditions:hover {
        color: #B14593;
    }

    .discount-indicator {
        font-size: 14px;
    }


    /**/
    /* FOOTER */
    /**/


    .declaration {
        width: 100%;
        margin: 30px 180px;
    }

    .social-box i:hover{
        color: #E2DDF9;
        background-color: #858BB7;
    }

    .to-the-top {
        right: 20px;
        top: -20px;
        height: 40px;
        width: 40px;
        border-radius: 50%; 
    }
    
    .to-the-top i{
        font-size: 40px;
    }

    .to-the-top:hover {
        background-color: #858BB7;
    }

    .to-the-top i:hover {
        color: #E2DDF9;
    }


    /**/
    /* TERMS & CONDITIONS */
    /**/
    

    .politic-section h3 {
        font-size: 26px;
    }

    .politic-section p {
        font-size: 22px;
        line-height: 29px;
    }


    /**/
    /* ERROR */
    /**/


    .error-header:hover .error-icon i {
        color: #B14593;
        opacity: .7;
        text-shadow: -1px 0 #FFF, 0 1px #FFF, 1px 0 #FFF, 0 -1px #FFF;
    }


    /**/
    /* USER INDEX */
    /**/


    .user-data {
        font-size: 20px;
    }


    /**/
    /* USER PROFILE */
    /**/

    .profile-avatar {
        width: 300px;
    }

    .profile-cart-link a {
        transition: all .1s cubic-bezier(.25,.25,.25,.25);
    }

    .profile-newsletter, .profile-acquired-games {
        font-size: 16px;
    }

    .user-control-button h4 {
        font-size: 16px;
    }

    .profile-cart-link a:hover {
        color: #B14593;
        text-shadow: none;
    }

    .user-control-button:hover {
        color: #FFF;
        background-color: #B14593;
        border: 2px solid #B14593;
        text-shadow: -2px 2px 0 black;
    }

    .user-eliminar:hover {
        background: red;
        border: 2px solid red;
    }

    .link-box {
        width: 40%;
    }

    .admin-link {
        font-size: 16px;
        transition: all .1s cubic-bezier(.25,.25,.25,.25);
        transform: translate(12px, 0);
    }

    .admin-link i {
        font-size: 12px;
        opacity: 0;
        transition: all .1s cubic-bezier(.25,.25,.25,.25);
    }

    .admin-link:hover {
        text-decoration: underline;
    }

    .admin-link:hover.admin-link i {
        opacity: 1;
    }
}


/*
PANTALLAS +
*/
@media (min-width: 992px) {
    .header-box, .main-main {
        max-width: 90%;
    }
    
    /**/
    /* HEADER */
    /**/


    .local-navbar {
        width: 30%;
    }

    .user-navbar-link {
        width: 35%;
    }

    
    /**/
    /* CARRITO */
    /**/


    .item-title h2, .item-price h2 {
        font-size: 40px;
    }

    .item-so-i {
        font-size: 35px;
    }
    
    .item-delete button i {
        font-size: 30px;
    }

    .item-delete button i:hover {
        font-size: 35px;
    }


    /**/
    /* PRODUCT SHOW */
    /**/


    .show-title h2 {
        font-size: 50px;
    }

    .show-title h3 {
        font-size: 32px;
    }

    .category-single-box p {
        height: 78px;
        line-height: 78px;
        font-size: 32px;
    }

    .show-description {
        font-size: 25px;
        line-height: 32px;
    }

    .te-ahorras {
        font-size: 42px;
    }

    .offer-display h2 {
        font-size: 42px;
    }

    .pagas-box h1 {
        font-size: 46px;
    }

    .purchase-price-box h2, .purchase-button-box h2 {
        font-size: 42px;
    }


    /**/
    /* FORMULARIOS */
    /**/


    .register-form {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    .form-section {
        width: 50%;
    }

    .image-section {
        display: block;
        width: 50%;
        padding: 15px;  
        opacity: .5;
    }

    .file-box {
        flex-flow: row wrap;
        justify-content: flex-start;
    }

    /* LABELS */
    .file-box-label {
        width: 100%;
    }

    /* INPUTS */
    .input-text {
        width: 100%;
    }

    .input-price {
        width: 50%;
    }

    .input-discount {
        width: 50%;
    }

    .product-file, .select-country {
        width: 100%
    }

    .properties-category {
        width: 50%;
    }

    .edit-product-file {
        width: 50%;
    }


    /**/
    /* FOOTER */
    /**/


    .declaration {
        max-width: 50%;
        margin: 30px 0;
    }


    /**/
    /* USER INDEX */
    /**/


    .user-data {
        font-size: 24px;
    }
    

    /**/
    /* USER PROFILE */
    /**/


    .user-control-button h4 {
        font-size: 18.72px;
    }

    .link-box {
        width: 30%;
    }
}


/*
LIMITAR ANCHO MÁXIMO 
*/
@media (min-width: 1200px) {
    .header-section, .main-main {
        max-width: 1200px;
    }
}