.main-main {
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: scroll;
    height: 100vh;
}

.panel-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.count-panel {
    width: 80%;
    border: #404040 2px solid;
    border-radius: 8px;
    background-color: #FFF;
    box-shadow: inset 0px 0px 50px 10px #B6B1F1, 5px 5px 5px 5px black;
    display: flex;
    flex-flow: row wrap;
    margin: 2% 10%;
    transition: all .1s cubic-bezier(.25, .25, .25, .25);
}

.count-header {
    width: 25%;
    align-self: center;
    font-weight: 600;
    text-shadow: -1px 0 #FFF, 0 1px #FFF, 1px 0 #FFF, 0 -1px #FFF, -1px 1px 0 black;
    font-size: 8px;
    padding: 6px 6px 6px 2%;
}

.count-article {
    width: 75%;
    display: flex;
    flex-flow: row wrap;
    padding: 2%;
}

/*
TABLETS
*/
@media (min-width: 576px) {
    .main-main {
        width: 80%;
    }

    .count-header {
        font-size: 14px;
    }

    .count-title {
        font-size: 20px;
        line-height: 35px;
    }

    .count-number {
        font-size: 30px;
    }
}

/*
DESKTOP
*/
@media (min-width: 768px) {
    .main-main {
        width: 85%;
    }

    .count-panel:hover {
        box-shadow: inset 0px 0px 50px 10px #B6B1F1;
        border: black 2px solid;
    }

    .count-header {
        font-size: 18px;
        text-shadow: -1px 0 #FFF, 0 1px #FFF, 1px 0 #FFF, 0 -1px #FFF, -1.5px 1.5px 0 black;
    }
}

/*
PANTALLAS +
*/
@media (min-width: 992px) {
    .count-panel {
        width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
}

/*
PANTALLAS +++
*/
@media (min-width: 1200px) {
    .main-main {
        width: 90%;
    }
}