.sidebar {
    width: 10%;
    height: 100vh;
    background: linear-gradient(#E2DDF9,#858BB7);
    border-right: 2px solid #B6B1F1;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
}

.logo-box {
    color: white;
    width: 100%;
    margin: 5% 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 15px;
    line-height: 30px;
    border: 50%;
    background: #B14593;
}

.trademark {
    display: none;
}

.link-list {
    display: none;
}

/*
TABLETS
*/
@media (min-width: 576px) {
    .sidebar {
        width: 20%;
    }

    .logo-box {
        display: none;
    }

    .trademark {
        display: block;
        margin: 10% 0;
        color: #FFF;
        text-shadow: -2px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
        width: 100%;
    }

    .link-list {
        display: flex;
        flex-flow: column wrap;
    }

    .link-link {
        font-size: 18px;
        color: #FFF;
        text-shadow: -1px 0 #404040, 0 1px #404040, 1px 0 #404040, 0 -1px #404040;
        transition: all .1s cubic-bezier(.25,.25,.25,.25);
        padding: 6px;
        border-radius: 20px;
        font-weight: 600;
        margin: 2% 0;
    }

    .active-link, .link-link:hover {
        box-shadow: inset 0 0 30px 0 #FFF;
        text-shadow: none;
        color: black;
        text-shadow: none;
        text-decoration: none;
    }
}

/*
DESKTOP
*/
@media (min-width: 768px) {
    .sidebar {
        width: 15%;
    }
}

/*
PANTALLAS +
*/
@media (min-width: 992px) {
    .trademark {
        font-size: 18px;
    }
}

/*
PANTALLAS +++
*/
@media (min-width: 1200px) {
    .sidebar {
        width: 10%;
    }

    .trademark {
        font-size: 14px;
    }
}

/*
regla muy particular
*/
@media (min-width: 1400px) {
    .trademark {
        font-size: 18px;
    }
}