<%- include('./partials/head') %>
<%- include('./partials/header') %>

<main class="main-main">

    <header class="main-title first-title">
        <h3 class="big-title">CARRITO DE COMPRAS</h3>
        <h5 class="small-title">CARRITO DE COMPRAS</h5>
    </header>

    <form action="/">

        <section class="cart-section">

            <!-- HADES -->
            <article class="cart-item">
                <div class="item-image">
                    <img src="/img/products/capsule/hades-capsule.jpg">
                </div>
                <div class="item-title">
                    <h2 class="big-title">HADES</h2>
                    <h4 class="small-title">HADES</h4>
                </div>
                <div class="item-so-i">
                    <i class="fab fa-windows"></i>
                    <i class="fab fa-linux"></i>
                    <i class="fab fa-apple"></i>
                </div>
                <div class="item-price">
                    <h2 class="big-title">$139.99</h2>
                    <h4 class="small-title">$139.99</h4>
                </div>
                <div class="item-delete">
                    <button type="submit">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </div>
            </article>

            <!-- CYBERPUNK -->
            <article class="cart-item">
                <div class="item-image">
                    <img src="/img/products/capsule/cyberpunk-capsule.jpg">
                </div>
                <div class="item-title">
                    <h2 class="big-title">CYBERPUNK</h2>
                    <h4 class="small-title">CYBERPUNK</h4>
                </div>
                <div class="item-so-i">
                    <i class="fab fa-windows"></i>
                    <i class="fab fa-linux"></i>
                    <i class="fab fa-apple"></i>
                </div>
                <div class="item-price">
                    <h2 class="big-title">$1099.50</h2>
                    <h4 class="small-title">$1099.50</h4>
                </div>
                <div class="item-delete">
                    <button type="submit">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </div>
            </article>

            <!-- STARDEW VALLEY -->
            <article class="cart-item">
                <div class="item-image">
                    <img src="/img/products/capsule/stardew-valley-capsule.jpg">
                </div>
                <div class="item-title">
                    <h2 class="big-title">STARDEW VALLEY</h2>
                    <h4 class="small-title">STARDEW VALLEY</h4>
                </div>
                <div class="item-so-i">
                    <i class="fab fa-windows"></i>
                    <i class="fab fa-linux"></i>
                    <i class="fab fa-apple"></i>
                </div>
                <div class="item-price">
                    <h2 class="big-title">$89.99</h2>
                    <h4 class="small-title">$89.99</h4>
                </div>
                <div class="item-delete">
                    <button type="submit">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </div>
            </article>

            <!-- SEKIRO -->
            <article class="cart-item">
                <div class="item-image">
                    <img src="/img/products/capsule/sekiro-capsule.jpg">
                </div>
                <div class="item-title">
                    <h2 class="big-title">SEKIRO</h2>
                    <h4 class="small-title">SEKIRO</h4>
                </div>
                <div class="item-so-i">
                    <i class="fab fa-windows"></i>
                    <i class="fab fa-linux"></i>
                    <i class="fab fa-apple"></i>
                </div>
                <div class="item-price">
                    <h2 class="big-title">$649.50</h2>
                    <h4 class="small-title">$649.50</h4>
                </div>
                <div class="item-delete">
                    <button type="submit">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </div>
            </article>

            <!-- CELESTE -->
            <article class="cart-item">
                <div class="item-image">
                    <img src="/img/products/capsule/celeste-capsule.jpg">
                </div>
                <div class="item-title">
                    <h2 class="big-title">CELESTE</h2>
                    <h4 class="small-title">CELESTE</h4>
                </div>
                <div class="item-so-i">
                    <i class="fab fa-windows"></i>
                    <i class="fab fa-linux"></i>
                    <i class="fab fa-apple"></i>
                </div>
                <div class="item-price">
                    <h2 class="big-title">$112.49</h2>
                    <h4 class="small-title">$112.49</h4>
                </div>
                <div class="item-delete">
                    <button type="submit">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </div>
            </article>

            <!-- MINECRAFT -->
            <article class="cart-item">
                <div class="item-image">
                    <img src="/img/products/capsule/minecraft-capsule.jpg">
                </div>
                <div class="item-title">
                    <h2 class="big-title">MINECRAFT</h2>
                    <h4 class="small-title">MINECRAFT</h4>
                </div>
                <div class="item-so-i">
                    <i class="fab fa-windows"></i>
                    <i class="fab fa-linux"></i>
                    <i class="fab fa-apple"></i>
                </div>
                <div class="item-price">
                    <h2 class="big-title">$96.00</h2>
                    <h4 class="small-title">$96.00</h4>
                </div>
                <div class="item-delete">
                    <button type="submit">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </div>
            </article>

            <!-- HOLLOW KNIGHT -->
            <article class="cart-item">
                <div class="item-image">
                    <img src="/img/products/capsule/hollow-knight-capsule.jpg">
                </div>
                <div class="item-title">
                    <h2 class="big-title">HOLLOW KNIGHT</h2>
                    <h4 class="small-title">HOLLOW KNIGHT</h4>
                </div>
                <div class="item-so-i">
                    <i class="fab fa-windows"></i>
                    <i class="fab fa-linux"></i>
                    <i class="fab fa-apple"></i>
                </div>
                <div class="item-price">
                    <h2 class="big-title">$179.99</h2>
                    <h4 class="small-title">$179.99</h4>
                </div>
                <div class="item-delete">
                    <button type="submit">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </div>
            </article>

            <!-- TERRARIA -->
            <article class="cart-item">
                <div class="item-image">
                    <img src="/img/products/capsule/terraria-capsule.jpg">
                </div>
                <div class="item-title">
                    <h2 class="big-title">TERRARIA</h2>
                    <h4 class="small-title">TERRARIA</h4>
                </div>
                <div class="item-so-i">
                    <i class="fab fa-windows"></i>
                    <i class="fab fa-linux"></i>
                    <i class="fab fa-apple"></i>
                </div>
                <div class="item-price">
                    <h2 class="big-title">$129.99</h2>
                    <h4 class="small-title">$129.99</h4>
                </div>
                <div class="item-delete">
                    <button type="submit">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </div>
            </article>

            <!-- AGE OF EMPIRES II -->
            <article class="cart-item">
                <div class="item-image">
                    <img src="/img/products/capsule/aoe-ii-capsule.jpg">
                </div>
                <div class="item-title">
                    <h2 class="big-title">AGE OF EMPIRES II</h2>
                    <h4 class="small-title">AGE OF EMPIRES II</h4>
                </div>
                <div class="item-so-i">
                    <i class="fab fa-windows"></i>
                    <i class="fab fa-linux"></i>
                    <i class="fab fa-apple"></i>
                </div>
                <div class="item-price">
                    <h2 class="big-title">$299.00</h2>
                    <h4 class="small-title">$299.00</h4>
                </div>
                <div class="item-delete">
                    <button type="submit">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </div>
            </article>

            <!-- RAINBOW SIX SIEGE -->
            <article class="cart-item">
                <div class="item-image">
                    <img src="/img/products/capsule/rainbow-six-siege-capsule.jpg">
                </div>
                <div class="item-title">
                    <h2 class="big-title">RAINBOW SIX SIEGE</h2>
                    <h4 class="small-title">RAINBOW SIX SIEGE</h4>
                </div>
                <div class="item-so-i">
                    <i class="fab fa-windows"></i>
                    <i class="fab fa-linux"></i>
                    <i class="fab fa-apple"></i>
                </div>
                <div class="item-price">
                    <h2 class="big-title">$999.00</h2>
                    <h4 class="small-title">$999.00</h4>
                </div>
                <div class="item-delete">
                    <button type="submit">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </div>
            </article>

            <!-- CALL OF DUTY -->
            <article class="cart-item">
                <div class="item-image">
                    <img src="/img/products/capsule/cod-mw-capsule.jpg">
                </div>
                <div class="item-title">
                    <h2 class="big-title">CALL OF DUTY</h2>
                    <h4 class="small-title">CALL OF DUTY</h4>
                </div>
                <div class="item-so-i">
                    <i class="fab fa-windows"></i>
                    <i class="fab fa-linux"></i>
                    <i class="fab fa-apple"></i>
                </div>
                <div class="item-price">
                    <h2 class="big-title">$1999.00</h2>
                    <h4 class="small-title">$1999.00</h4>
                </div>
                <div class="item-delete">
                    <button type="submit">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </div>
            </article>

            <!-- PORTAL -->
            <article class="cart-item">
                <div class="item-image">
                    <img src="/img/products/capsule/portal-capsule.jpg">
                </div>
                <div class="item-title">
                    <h2 class="big-title">PORTAL</h2>
                    <h4 class="small-title">PORTAL</h4>
                </div>
                <div class="item-so-i">
                    <i class="fab fa-windows"></i>
                    <i class="fab fa-linux"></i>
                    <i class="fab fa-apple"></i>
                </div>
                <div class="item-price">
                    <h2 class="big-title">$129.99</h2>
                    <h4 class="small-title">$129.99</h4>
                </div>
                <div class="item-delete">
                    <button type="submit">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </div>
            </article>
        
        </section>

        <footer class="cart-footer">
            <div class="clean-cart-box">
                <a class="clean-cart" href="#">Eliminar todos los items</a>
            </div>
            <div class="cart-buy">
                <button class="cart-button" type="submit">
                    <h1 class="big-title">COMPRAR</h1>
                    <h2 class="small-title">COMPRAR</h2>
                </button>
            </div>
        </footer>

    </form>
</main>

<%- include('./partials/footer')%>