<%- include ('./partials/head') %>
<%- include ('./partials/header') %>
<main class="main-main">
    <header class="main-title first-title">
        <h2 class="big-title">
            CONTACTO
        </h2>
        <h4 class="small-title">
            CONTACTO
        </h4>
    </header>
    <section class="contact-section">
        <div class="contact-box">
            <div class="contact-img">
                <img src="https://media-exp1.licdn.com/dms/image/C4E03AQG0XtAqwgLTqQ/profile-displayphoto-shrink_200_200/0/1626201282129?e=1634774400&v=beta&t=8KpLcaf64CpL9RXtLDVTb44a-n78ky4_hwj9yzzxD9E">
            </div>
            <div class="contact-data">
                <p class="contact-data-name">
                    Santiago Gustavino
                </p>
                <p class="contact-data-email">
                    santiago@gamecentral.com
                </p>
            </div>
        </div>
        <div class="contact-box">
            <div class="contact-data">
                <p class="contact-data-name">
                    Federico Schlatter
                </p>
                <p class="contact-data-email">
                    federico@gamecentral.com
                </p>
            </div>
            <div class="contact-img">
                <img src="https://media-exp1.licdn.com/dms/image/C4E03AQGEU_MXqUMYPA/profile-displayphoto-shrink_200_200/0/1630375471899?e=1635984000&v=beta&t=qTFmtjSAlDKuv6Y07hPWpQmhR-8kdCS7rTi53Xmk--g">
            </div>
        </div>
        <div class="contact-box">
            <div class="contact-img">
                <img src="https://media-exp1.licdn.com/dms/image/C5603AQGPfr7mKRoQWg/profile-displayphoto-shrink_200_200/0/1607799110341?e=1635984000&v=beta&t=W_KHN9YRnFNTDloX9jwFcifsvaJM0oqbxKUlExp36pc">
            </div>
            <div class="contact-data">
                <p class="contact-data-name">
                    Matias Cocco
                </p>
                <p class="contact-data-email">
                    matias@gamecentral.com
                </p>
            </div>
        </div>
        <div class="contact-box">
            <div class="contact-data">
                <p class="contact-data-name">
                    Melina Gimenez
                </p>
                <p class="contact-data-email">
                    melina@gamecentral.com
                </p>
            </div>
            <div class="contact-img">
                <img src="https://media-exp1.licdn.com/dms/image/C4E03AQEN5HKkhzNnkw/profile-displayphoto-shrink_200_200/0/1627516075580?e=1635984000&v=beta&t=VQOalNe46lVsrltQAnYQZszTYinh8cngATo81m2tn04">
            </div>
        </div>
    </section>
</main>
<%- include ('./partials/footer') %>