<%- include ('./partials/head') %>
<%- include ('./partials/header') %>
<main class="main-main">
    <header class="main-title first-title">
        <h2 class="big-title">
            CONTACTO
        </h2>
        <h4 class="small-title">
            CONTACTO
        </h4>
    </header>
    <section class="contact-section">
        <% us.forEach(us => { %>
            <%- include ('./partials/contact-card', { us }) %>
        <% }) %>
    </section>
</main>
<%- include ('./partials/footer') %>