<%- include('./partials/head') %>
<a href="/">
    <header class="header-header error-header">
        <section class="error-section">
            <article class="error-trademark">
                <h1 class="big-title">
                    Game Central ©
                </h1>
                <h2 class="small-title">
                    Game Central ©
                </h2>
            </article>
            <div class="error-icon">
                <i class="fas fa-share"></i>
            </div>
        </section>
    </header>
</a>
<main class="error-main">
    <div class="error-text">
        <h1>
            ERROR
        </h1>
        <h1>
            <%= status %>
        </h1>
        <p class="error-detail">
            <%= errorDetail %>
        </p>
    </div>
</main>
</body>
</html>