<%- include('./partials/head') %>
<%- include('./partials/header') %>

<main class="main-main">

    <!-- Título de la oferta -->
    <header class="main-title first-title">
        <h3 class="big-title">AUTUMN SALE</h3>
        <h5 class="small-title">AUTUMN SALE</h5>
    </header>    

    <!-- Sección de ofertas -->
    <section class="main-section">
        
        <article class="unit-product">
            <div class="game-image">
                <img src="/img/products/card/hades-card.jpg">
                <div class="new-price">
                    <h2 class="big-title">$139.99</h2>
                    <h3 class="small-title">$139.99</h3>
                </div>
                <div class="ribbon">
                    <div class="full-price crossed-out">
                        <h3 class="big-title">$279.99</h3>
                        <h4 class="small-title">%279.99</h4>
                    </div>
                    <div class="discount">
                        <h2 class="big-title">50%</h2>
                        <h3 class="small-title">50%</h3>
                    </div>
                </div>
            </div>
            <div class="overlay-product"></div>
            <div class="game-title">
                <h2 class="big-title">HADES</h2>
            </div>
            <div class="ver-mas">
                <a href="/products/1">
                    <h3 class="big-title">VER MÁS</h3>
                </a>
            </div>
        </article>

        <!-- CYBERPUNK -->
        <article class="unit-product">
            <a href="/productDetailCyberpunk">
                <!-- Imágen -->
                <div class="game-image">
                    <img src="/img/products/card/cyberpunk-card.jpg" alt="cyberpunk">
                    <!-- Nuevo precio -->
                    <div class="new-price">
                        <h2 class="big-title">$1099.50</h2>
                        <h3 class="small-title">$1099.50</h3>
                    </div>
                    <!-- Cinta -->
                    <div class="ribbon">
                        <div class="full-price crossed-out">
                            <h3 class="big-title">$2199.00</h3>
                            <h4 class="small-title">$2199.00</h4>
                        </div>
                        <div class="discount">
                            <h2 class="big-title">50%</h2>
                            <h3 class="small-title">50%</h3>
                        </div>
                    </div>
                </div>
                </div>
                <div class="overlay-product">
                </div>
                <div class="ver-mas">
                    <h3>VER MÁS</h3>
                </div>
            </a> 
        </article>

        <!-- STARDEW VALLEY -->
        <article class="unit-product">
            <a href="productDetailStardew">
                <!-- Imágen -->
                <div class="game-image">
                    <img src="/img/products/card/stardew-valley-card.jpg" alt="stardew-valley">
                    <!-- Nuevo precio -->
                    <div class="new-price">
                        <h2 class="big-title">$89.99</h2>
                        <h3 class="small-title">$89.99</h3>
                    </div>
                    <!-- Cinta -->
                    <div class="ribbon">
                        <div class="full-price crossed-out">
                            <h3 class="big-title">$179.99</h3>
                            <h4 class="small-title">$179.99</h4>
                        </div>
                        <div class="discount">
                            <h2 class="big-title">50%</h2>
                            <h3 class="small-title">50%</h3>
                        </div>
                    </div>
                </div>
                </div>
                <div class="overlay-product">
                </div>
                <div class="ver-mas">
                    <h3>VER MÁS</h3>
                </div>
            </a> 
        </article>

        <!-- SEKIRO -->
        <article class="unit-product">
            <a href="productDetailSekiro">
                <!-- Imágen -->
                <div class="game-image">
                    <img src="/img/products/card/sekiro-card.jpg" alt="sekiro">
                    <!-- Nuevo precio -->
                    <div class="new-price">
                        <h2 class="big-title">$649.50</h2>
                        <h3 class="small-title">$649.50</h3>
                    </div>
                    <!-- Cinta -->
                    <div class="ribbon">
                        <div class="full-price crossed-out">
                            <h3 class="big-title">$1299.00</h3>
                            <h4 class="small-title">$1299.00</h4>
                        </div>
                        <div class="discount">
                            <h2 class="big-title">50%</h2>
                            <h2 class="small-title">50%</h2>
                        </div>
                    </div>
                </div>
                </div>
                <div class="overlay-product">
                </div>
                <div class="ver-mas">
                    <h3>VER MÁS</h3>
                </div>
            </a> 
        </article>

        <!-- CELESTE -->
        <article class="unit-product">
            <a href="#">
                <!-- Imágen -->
                <div class="game-image">
                    <img src="/img/products/card/celeste-card.jpg" alt="celeste">
                    <!-- Nuevo precio -->
                    <div class="new-price">
                        <h2 class="big-title">$112.49</h2>
                        <h3 class="small-title">$112.49</h3>
                    </div>
                    <!-- Cinta -->
                    <div class="ribbon">
                        <div class="full-price crossed-out">
                            <h3 class="big-title">$224.99</h3>
                            <h4 class="small-title">$224.99</h4>
                        </div>
                        <div class="discount">
                            <h2 class="big-title">50%</h2>
                            <h3 class="small-title">50%</h3>
                        </div>
                    </div>
                </div>
                </div>
                <div class="overlay-product">
                </div>
                <div class="ver-mas">
                    <h3>VER MÁS</h3>
                </div>
            </a> 
        </article>

        <!-- MINECRAFT -->
        <article class="unit-product">
            <a href="#">
                <!-- Imágen -->
                <div class="game-image">
                    <img src="/img/products/card/minecraft-card.jpg" alt="minecraft">
                    <!-- Nuevo precio -->
                    <div class="new-price">
                        <h2 class="big-title">$96.00</h2>
                        <h3 class="small-title">$96.00</h3>
                    </div>
                    <!-- Cinta -->
                    <div class="ribbon">
                        <div class="full-price crossed-out">
                            <h3 class="big-title">$192.00</h3>
                            <h4 class="small-title">$192.00</h4>
                        </div>
                        <div class="discount">
                            <h2 class="big-title">50%</h2>
                            <h3 class="small-title">50%</h3>
                        </div>
                    </div>
                </div>
                </div>
                <div class="overlay-product">
                </div>
                <div class="ver-mas">
                    <h3>VER MÁS</h3>
                </div>
            </a> 
        </article>

    </section>

    <!-- Título destacados y recomendados  -->
    <header class="main-title">
        <h3 class="big-title">DESTACADOS & RECOMENDADOS</h3>
        <h5 class="small-title">DESTACADOS & RECOMENDADOS</h5>
    </header>

    <!-- Sección destacados y recomendados -->
    <section class="main-section">

        <!-- HOLLOW KNIGHT -->
        <article class="unit-product">
            <a href="#">
                <!-- Imágen -->
                <div class="game-image">
                    <img src="/img/products/card/hollow-knight-card.jpg" alt="hollow-knight">
                    <!-- Cinta -->
                    <div class="ribbon">
                        <div class="full-price">
                            <h3 class="big-title">$179.99</h3>
                            <h4 class="small-title">$179.99</h4>
                        </div>
                    </div>
                </div>
                <div class="overlay-product">
                </div>
                <div class="ver-mas">
                    <h3>VER MÁS</h3>
                </div>
            </a>
        </article>

        <!-- TERRARIA -->
        <article class="unit-product">
            <a href="#">
                <!-- Imágen -->
                <div class="game-image">
                    <img src="/img/products/card/terraria-card.jpg" alt="terraria">
                    <!-- Cinta -->
                    <div class="ribbon">
                        <div class="full-price">
                            <h3 class="big-title">$129.99</h3>
                            <h4 class="small-title">$129.99</h4>
                        </div>
                    </div>
                </div>
                </div>
                <div class="overlay-product">
                </div>
                <div class="ver-mas">
                    <h3>VER MÁS</h3>
                </div>
            </a> 
        </article>

        <!-- AOE II -->
        <article class="unit-product">
            <a href="#">
                <!-- Imágen -->
                <div class="game-image">
                    <img src="/img/products/card/aoe-ii-card.jpg" alt="aoe-ii">
                    <!-- Cinta -->
                    <div class="ribbon">
                        <div class="full-price">
                            <h3 class="big-title">$299.00</h3>
                            <h4 class="small-title">$299.00</h4>
                        </div>
                    </div>
                </div>
                </div>
                <div class="overlay-product">
                </div>
                <div class="ver-mas">
                    <h3>VER MÁS</h3>
                </div>
            </a> 
        </article>

        <!-- RAINBOW SIX SIEGE -->
        <article class="unit-product">
            <a href="#">
                <!-- Imágen -->
                <div class="game-image">
                    <img src="/img/products/card/rainbow-six-siege-card.jpg" alt="rainbow-six-siege">
                    <!-- Cinta -->
                    <div class="ribbon">
                        <div class="full-price">
                            <h3 class="big-title">$999.00</h3>
                            <h4 class="small-title">$999.00</h4>
                        </div>
                    </div>
                </div>
                </div>
                <div class="overlay-product">
                </div>
                <div class="ver-mas">
                    <h3>VER MÁS</h3>
                </div>
            </a> 
        </article>

        <!-- COD MW -->
        <article class="unit-product">
            <a href="#">
                <!-- Imágen -->
                <div class="game-image">
                    <img src="/img/products/card/cod-mw-card.jpg" alt="cod-mw">
                    <!-- Cinta -->
                    <div class="ribbon">
                        <div class="full-price">
                            <h3 class="big-title">$1999.00</h3>
                            <h4 class="small-title">$1999.00</h4>
                        </div>
                    </div>
                </div>
                </div>
                <div class="overlay-product">
                </div>
                <div class="ver-mas">
                    <h3>VER MÁS</h3>
                </div>
            </a> 
        </article>

        <!-- PORTAL -->
        <article class="unit-product">
            <a href="#">
                <!-- Imágen -->
                <div class="game-image">
                    <img src="/img/products/card/portal-card.jpg" alt="portal">
                    <!-- Cinta -->
                    <div class="ribbon">
                        <div class="full-price">
                            <h3 class="big-title">$129.99</h3>
                            <h4 class="small-title">$129.99</h4>
                        </div>
                    </div>
                </div>
                </div>
                <div class="overlay-product">
                </div>
                <div class="ver-mas">
                    <h3>VER MÁS</h3>
                </div>
            </a> 
        </article>

    </section>

    <!-- Título todos los juegos -->
    <header class="main-title">
        <h3 class="bit-title">TODOS LOS TÍTULOS</h3>
        <h5 class="small-title">TODOS LOS TÍTULOS</h5>
    </header>

    <section class="main-section last-section">
        <% for (i = 0 ; i < products.length ; i++) { %>
            <%- include('./products/partials/product',{products}) %>
        <% } %>
    </section>

</main>

<%- include('./partials/footer') %>