<%- include('./partials/head') %>
<%- include('./partials/header') %>

<main class="main-main">

    <header class="main-title first-title">
        <h3 class="big-title">Términos y condiciones</h3>
        <h5 class="small-title">Términos y condiciones</h5>
    </header>

    <article class="tc-trademark">
        <h1 class="big-title" id="game-central">Game Central ©</h1>
        <h2 class="small-title">Game Central ©</h2>
    </article>

    <section class="register-form">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos asperiores numquam sapiente id autem. Tempora, quam, quis inventore repellendus deserunt illo quo itaque voluptates reprehenderit, saepe recusandae. Quos, doloribus consectetur.</p>
    </section>

</main>

<%- include('./partials/footer') %>