<%- include('./partials/head') %>
<%- include('./partials/header') %>

<main class="main-main">

    <header class="main-title first-title">
        <h3 class="big-title">Términos y condiciones</h3>
        <h5 class="small-title">Términos y condiciones</h5>
    </header>

    <section class="register-form">
        
        
    </section>

</main>

<%- include('./partials/footer') %>