.last-panel {
    width: 90%;
    border: #404040 2px solid;
    border-radius: 8px;
    background-color: #FFF;
    display: flex;
    flex-flow: column wrap;
    box-shadow: inset 0px 0px 50px 10px #B6B1F1, 5px 5px 5px 5px black;
    margin: 50px auto 0 auto;
}

/*
TABLETS
*/
@media (min-width: 576px) {
    .last-panel {
        width: 45%;
    }
}

/*
DESKTOP
*/
@media (min-width: 768px) {

}

/*
PANTALLAS +
*/
@media (min-width: 992px) {
    /* .last-panel {
        width: 45%;
    } */
}

/*
PANTALLAS +++
*/
@media (min-width: 1200px) {

}