<footer class="footer-footer">
    <article class="trademark">
        <h1 class="big-title" id="game-central">Game Central ©</h1>
        <h2 class="small-title">Game Central ©</h2>
    </article>
    <article class="socials">
        <div class="social-box">
            <a href="https://github.com/matiasncocco/grupo_6_GameCentral" target="_blank">
                <i class="fab fa-github"></i>
            </a>
        </div>
        <div class="social-box">
            <i class="fab fa-twitch"></i>
        </div>
        <div class="social-box" id="youtube">
            <i class="fab fa-youtube"></i>
        </div>
        <div class="social-box">
            <i class="fab fa-instagram"></i>
        </div>
        <div class="social-box">
            <i class="fab fa-twitter"></i>
        </div>
        <div class="social-box">
            <i class="fab fa-reddit-alien"></i>
        </div>
    </article>
    <article class="declaration">
        <p>© 2021, Game Central. Todos los derechos reservados. Game Central, el logotipo de Game Central, es una marca comercial o marca registrada de Game Central, Inc. Tanto en Argentina como en el resto del mundo. Otras marcas o nombres de productos son marcas comerciales de sus respectivos propietarios. Las transacciones fuera de Argentina se realizan a través de Game Central International, S.A.</p>
    </article>
</footer>

</body>
</html>