<header class="header-header" id="header">
    <div class="header-box">
        <div class="logo">
            <a href="/">
                <img src="/img/icono.png">
            </a>
        </div>
        <div class="hamburger">
            <i class="fa fa-bars burger"></i>
        </div>
        <nav class="main-navbar">
            <ul>
                <a href="/">
                    <li class="nav-link">
                        Home
                    </li>
                </a>
                <a href="/products">
                    <li class="nav-link">
                        Tienda
                    </li>
                </a>
                <a>
                    <li class="nav-link">
                        Soporte
                    </li>
                </a>
            </ul>
        </nav>
        <nav class="user-navbar">
            <ul>
                <a href="/products/cart">
                    <li class="nav-link carrito">
                        <i class="fas fa-shopping-cart"></i>
                    </li>
                </a>
                <a href="/users/login">
                    <li class="nav-link">
                        Iniciar sesión
                    </li>
                </a>
                <a href="/users/register">
                    <li class="nav-link">
                        Registrarse
                    </li>
                </a>
            </ul>
        </nav>
    </div>
</header>