<!-- Header: navbar y hamburgesa -->
<header class="header-header">

    <!-- Logo y hamburguesa -->
    <div class="logo">
        <a href="/">
            <img src="/img/icono.png" alt="icono">
        </a>
    </div>
    <div class="hamburger">
        <i class="fa fa-bars burger"></i>
    </div>

    <!-- Navbar de navegación -->
    <nav class="main-navbar">
        <ul>
            <li class="nav-link"><a href="/">Home</a></li>
            <!-- A implementar -->
            <li class="nav-link"><a href="#">Tienda</a></li>
            <li class="nav-link"><a href="#">Soporte</a></li>
        </ul>
    </nav>
            
    <!-- Navbar de acciones para el usuario -->
    <nav class="user-navbar">
        <ul>
            <!-- Iconito para ir al carrito de compras -->
            <li class="nav-link carrito"><a href="/cart"><i class="fas fa-shopping-cart"></i></a></li>
            <li class="nav-link"><a href="/login">Iniciar sesión</a></li>
            <li class="nav-link"><a href="/register">Registrarse</a></li>
        </ul>
    </nav>
</header>