<header class="header-header" id="header">
    <section class="header-section">
        <a href="/" class="logo-box">
            <p>
                GC
            </p>
        </a>
        <div class="hamburger">
            <i class="fa fa-bars burger"></i>
        </div>
        <nav class="main-navbar">
            <nav class="local-navbar">
                <div class="local-navbar-link">
                    <a href="/">
                        Home
                    </a>
                </div>
                <div class="local-navbar-link">
                    <a href="/products">
                        Tienda
                    </a>
                </div>
                <div class="local-navbar-link">
                    <a href='/'>
                        Soporte
                    </a>
                </div>
            </nav>
            <div class="search-bar-icon">
                <input class="search-bar" type="search" placeholder="  Buscar juegos...">
                <div class="icon-bar">
                    <i class="fa fa-search"></i>
                </div>
            </div>
            <nav class="user-navbar">
                <% if (!locals.user) { %>
                    <div class="user-navbar-link">
                        <a href="/users/login">
                            Iniciar sesión
                        </a>
                    </div>
                    <div class="user-navbar-link">
                        <a href="/users/register">
                            Registrarse
                        </a>
                    </div>
                <% } else { %>
                    <div  class="user-navbar-link">
                        <a href="/users/profile">
                            Perfil
                        </a>
                    </div>
                    <div class="navbar-avatar">
                        <img src="/img/users/<%= locals.user.avatar %>">
                    </div>
                <% } %>
            </nav>
        </nav>
    </section>
</header>