.panel {
    width: 80%;
    border: #404040 2px solid;
    border-radius: 8px;
    background-color: #FFF;
    box-shadow: inset 0px 0px 50px 10px #B6B1F1, 5px 5px 5px 5px black;
    display: flex;
    flex-flow: row wrap;
    margin: 4% 0 0 10%;
    transition: all .1s cubic-bezier(.25, .25, .25, .25);
}

.panel-header {
    width: 20%;
    align-self: center;
    font-weight: 600;
    text-shadow: -1px 0 #FFF, 0 1px #FFF, 1px 0 #FFF, 0 -1px #FFF, -2px 2px 0 black;
    font-size: 8px;
    padding: 6px 6px 6px 2%;
}

.panel-article {
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.panel-thinner {
    justify-content: center;
}

.panel-title {
    font-weight: 600;
    width: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #FFF;
    text-shadow: -1px 0 #404040, 0 1px #404040, 1px 0 #404040, 0 -1px #404040, -2px 2px 0 black;
}

.panel-img {
    margin: 0 5% 5% 5%;
    transition: all .1s cubic-bezier(.25, .25, .25, .25);
}

.panel img {
    width: 100%;
    display: block;
    padding: 1%;
}

/*
TABLETS
*/
@media (min-width: 576px) {
    .panel-header {
        font-size: 14px;
    }

    .panel-title {
        font-size: 20px;
        line-height: 40px;
    }
}

/*
DESKTOP
*/
@media (min-width: 768px) {
    .panel:hover {
        box-shadow: inset 0px 0px 50px 10px #B6B1F1;
        border: black 2px solid;
    }

    .panel-header {
        font-size: 20px;
    }

    .panel-img:hover {
        cursor: pointer;
        box-shadow: 5px 5px 5px 2px #404040
    }
}

/*
PANTALLAS +
*/
@media (min-width: 992px) {
    .panel-thinner {
        width: 450px;
        margin: 2% 0 0 30px;
    }

    .panel-wide {
        width: 600px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 5%;
    }

    .panel-title {
        font-size: 22px;
        display: inline-block;
    }
}

/*
PANTALLAS +++
*/
@media (min-width: 1200px) {

}