.main-main {
    width: 90vw;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
}

/*
TABLETS
*/
@media (min-width: 576px) {
    .main-main {
        width: 80vw;
    }
}

/*
DESKTOP
*/
@media (min-width: 768px) {
    .main-main {
        width: 85vw;
    }
}

/*
PANTALLAS +
*/
@media (min-width: 992px) {

}

/*
PANTALLAS +++
*/
@media (min-width: 1200px) {
    .main-main {
        width: 90vw;
    }
}