.count-item {
    width: 50%;
    border: #808080 2px solid;
    border-radius: 8px;
    background-color: #FFF;
    display: flex;
    flex-flow: row wrap;
}

/* .count-item-title {

}

.count-item-number {

}

.count-item-icon {

} */