<%- include('../partials/head')%>

<%- include('../partials/header')%>

<main class="cajmadreregistro" >
    
        
    <form action="">

    
        <p>Usuario:</p>
        <input type="text" class="field"> <br/>
    
       
        <p>Contraseña:</p>
        <input type="password" class="field"> <br/>
    

    
   <div class="cajaBoton">
    <button class="btn-neon2" id="send" type="submit">Iniciar Sesion</button>
   </div> 

   
    </form>


    <div class="checkbox">
        
        <label >Recordarme en este equipo </label>
        <input class="botoncito" type="checkbox" name="remember_login">
      </div>
        
    
</main>



<!-- ******************************************************************************************** -->








<%- include('../partials/footer')%>