<%- include('../partials/head')%>

<%- include('../partials/header')%>

<main class="cajmadreregistro" >
    
        
            <form action="">

                <p class="CREAR"> CREAR TU CUENTA	</p>
            
                <p>Nombre:</p>
                <input type="text" class="field"> <br/>
            
                <p>Correo electrónico:</p>
                <input type="text" class="field"> <br/>
            
                <p>Contraseña:</p>
                <input type="password" class="field"> <br/>
            
                <p>Confirmar contraseña:</p>
                <input type="password" class="field"></input> <br/>

                <div class="reCaptcha"><iframe  class="input-box" title="reCAPTCHA" src="https://recaptcha.net/recaptcha/enterprise/anchor?ar=1&amp;k=6LdIFr0ZAAAAAO3vz0O0OQrtAefzdJcWQM2TMYQH&amp;co=aHR0cHM6Ly9zdG9yZS5zdGVhbXBvd2VyZWQuY29tOjQ0Mw..&amp;hl=es-419&amp;v=9qx0v7NiOAe_XnW_ULNZm9e3&amp;theme=dark&amp;size=normal&amp;s=0vNwUMdDidOm6lm-awUUkJq_H6nE9mchEEab4AEpRokpFx3pL1o9sXMGXHeoTqfVdbikAm8Itm9zbTRj2uuMHaRYiuB-K49apfGiHupnN5IclFIq1i2TNuF6MEk3uciqeVUFUIW2d6DxKV_s54S3RaMv2V5qChc_0ZhzagdnljyfILEG0uEqORe3nfH-TTIuRi1ukwAOSMMBOqE699dEaS3-7O8oxPGrG-cl_sDYvGCVrwFIytt5lOioW7qVJH_gnC-yjzDtanoIS6pn&amp;cb=aw4xs2l9rjnc" width="304" height="78" role="presentation" name="a-sluftttnmy4p" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"></iframe></div>
            
           <div class="cajaBoton">
            <button class="btn-neon" id="send" type="submit">Enviar</button>
            <button class="btn-neon" id="clear" type="reset">Borrar</button>
           </div> 



            </form>
        
 
</main>

<%- include('../partials/footer')%>